<link rel="stylesheet" href="app/channelManagement/templates/newChannel/templates/step2/separated/computers/style.css" />


<div layout="row" layout-align="end center" layout-margin>
    <md-button class="md-primary md-raised button-strong">EDIT</md-button>
</div>

<div layout="row" layout-align="space-around center" layout-margin>
    <div layout-margin md-whiteframe="6" id="ncComputerContainer">
        <h4>Computers on the Network</h4>
        <md-virtual-repeat-container id="vertical-container">
            <md-list>
                <md-list-item search-box layout-padding>
                    <input placeholder="search computers" class="searchInput" ng-model="computer" />
                </md-list-item>
                <div ng-repeat="item in ctrl.computerList | filter : computer" nc-select-computer class="listHeight">
                    <div layout="row" class="ncComputerItem">
                        <md-icon class="material-icons">computer</md-icon>
                        <md-list-item>{{item.name}}</md-list-item>
                    </div>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-virtual-repeat-container>
    </div>

    <div layout-margin md-whiteframe="6" id="ncComputerContainer">
        <h4>Added Computers</h4>
        <md-virtual-repeat-container id="vertical-container">
            <md-list>
                <md-list-item search-box layout-padding>
                    <input placeholder="search computers" class="searchInput" ng-model="addedComputer" />
                </md-list-item>
                <div ng-repeat="computer in ctrl.addedComputers | filter : computer" class="addedComputers" match-my-height>
                    <div layout="row" class="ncComputerItem animated fadeInLeft" layout-align="space-between center">
                        <div layout="row">
                            <md-icon class="material-icons-no-margin">computer</md-icon>
                            <md-list-item>{{computer}}</md-list-item>
                        </div>
                        <md-icon class="material-icons-no-margin" delete-computer-from-list>delete</md-icon>
                    </div>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </md-virtual-repeat-container>
    </div>
</div>
<div layout="row" layout-align="space-between center">
    <md-button class="md-primary md-raised" ui-sref="app.channelManagement.newChannel.SSettings"><strong>BACK</strong></md-button>
    <md-button class="md-green md-raised" ui-sref="app.channelManagement.endpoint.dashboard" ng-click="ctrl.postChannel()"><strong>DONE</strong></md-button>
</div>