<link rel="stylesheet" href="app/policy/templates/policyDefinition/templates/settings/style.css" />
<md-button class="save-settings shadow-on-hover" save-policy-settings md-whiteframe="4">
    <span ng-if="ctrl.areSettingsEditable">SAVE</span>
    <span ng-if="!ctrl.areSettingsEditable">EDIT</span>
</md-button>
<json-formatter json="ctrl.PolicyFacets"></json-formatter>
<json-formatter json="ctrl.RawData"></json-formatter>
<div layout='column' id="policySettingsContainer" ng-class="{'not-editable': !ctrl.areSettingsEditable}">
    <div layout='row' layout-margin ng-repeat="(Key, value) in ctrl.allFacets">
        <md-list class='whiteBk policy_settings_lists shadow-on-section-hover' md-whiteframe="4">
            <md-list-item layout='row' layout-align='start center' class="policy_settings_key">
                <h4 class='card-title'>{{Key}}</h4>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item layout='row' layout-align='space-between center' ng-repeat="(propkey, propValue) in value.Properties">
                <p>{{propValue.DisplayName}}</p>
                <div ng-switch="propValue.Type">
                    <div ng-switch-when="FacetPropertyType_Bool">
                        <md-switch class="custom-switch" ng-model="ctrl.PolicyFacets[Key].Values[propkey]" aria-label="file Sign switch">
                        </md-switch>
                    </div>
                    <div ng-switch-when="FacetPropertyType_Int" name="file">
                        <input class="custom-input" placeholder="int" ng-model="ctrl.PolicyFacets[Key].Values[propkey]" type="number" string-to-number
                        />
                    </div>
                    <div ng-switch-when=" FacetPropertyType_String">
                        <input class="custom-input" placeholder="text" ng-model="ctrl.PolicyFacets[Key].Values[propkey]" type="text" />
                    </div>
                    <div ng-switch-when="FacetPropertyType_MultiLineString" layout="column">
                        <md-button class="md-icon-button" ng-click="ctrl.OpenEmailTemplate()">
                            <md-icon>email</md-icon>
                        </md-button>
                    </div>
                    <div ng-switch-when="FacetPropertyType_SingleChoice">
                        <select class="custom-select" ng-model="ctrl.PolicyFacets[Key].Values[propkey] " string-to-number ng-options="propValue.AvailableValues.indexOf(x) as x for x in  propValue.AvailableValues">
                        </select>
                    </div>
                    <div ng-switch-when=" FacetPropertyType_Password">
                        <input class="custom-input" aria-label="key" placeholder="" ng-model="ctrl.PolicyFacets[Key].Values[propkey]" type="password">
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</div>







