.UISelectedNav{
    background-color: #6B69EB;
    color: white !important;
}

.stop-scrolling {
  height: 100% !important;
  overflow: hidden !important;
}
#topFileTypeMdList{
    background-color: white;
    width: 49%;
}

#topUsersMdList{
    background-color: white;
    width: 49%;
}

#pdWrapper{
    margin-bottom : 2em;
}