<link rel="stylesheet" href="app/channelManagement/templates/newChannel/common/style.css"/>

<!--<div layout="row" id="mainRow" class="md-whiteframe-8dp">
    <div flex="50" layout-padding>
        <md-content class="md-headline" id="headline">New Channel</md-content>
    </div>
    <div flex layout="row" layout-align="end center" layout-padding>
        <md-button id="cancelButton" ui-sref="app.channelManagement.endpoint.dashboard"><md-icon class="material-icons red">close</md-icon><strong>Cancel</strong></md-button>
    </div>
</div>-->

<div data-ui-view></div>