<!--<div layout="row" layout-fill>

<d-cases-sidebar></d-cases-sidebar>
    <div layout="column">
    <div ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]" style="background-color: yellow; height: 300px"></div>
    </div>
</div>-->

Let's create a Policy 
<div class="input-group">
  <input type="text" class="form-control" placeholder="Policy Name" aria-describedby="policy-Name" ng-model="ctrl.Policy.PolicyInfo.GeneralInformations.name">
  <input type="text" class="form-control" placeholder="Policy Description" aria-describedby="policy-desc" ng-model="ctrl.Policy.PolicyInfo.GeneralInformations.description">
    userList
    <form name="userList">
        <md-chips ng-model="ctrl.Policy.UsersList" name="userList"  md-removable="true"></md-chips>
    </form>
    groupList
    <form name="groupList">
        <md-chips ng-model="ctrl.Policy.UserGroupsList" name="groupList"  md-removable="false"></md-chips>
    </form>
    channelList
     <form name="channelList">
        <md-chips ng-model="ctrl.Policy.channels" name="channels"  md-removable="false"></md-chips>
    </form>
</div>


<md-button class="md-primary md-raised" post-the-data>POST DATA</md-button>
 