<link rel="stylesheet" href="app/policy/templates/policyDefinition/switcher/style.css" />

<div layout="row" flex="100" layout-align="center center" id="policyDefinitionSwitcherBK" layout-padding md-whiteframe="6">
    <nav flex="65">
        <ul class="nav nav-justified" id="policyDefinitionSwitcher">
            <li class="policyDefinitionSwitcher"><a class="roundedTabSelector" ui-sref="app.policy.definition.fileType" ui-sref-active="policyInnerNavUISelected"><strong>File Type</strong></a></li>
            <li class="policyDefinitionSwitcher"><a class="roundedTabSelector" ui-sref="app.policy.definition.detection" ui-sref-active="policyInnerNavUISelected"><strong>Detection </strong></a></li>
            <li class="policyDefinitionSwitcher"><a class="roundedTabSelector" ui-sref="app.policy.definition.cdr" ui-sref-active="policyInnerNavUISelected"><strong>CDR</strong></a></li>
            <li class="policyDefinitionSwitcher"><a class="roundedTabSelector" ui-sref="app.policy.definition.settings" ui-sref-active="policyInnerNavUISelected"><strong>Settings</strong></a></li>
        </ul>
    </nav>
</div>
