<md-toolbar id='dashboardToolbar' layout='row' layout-align='space-between center' layout-padding layout-sm='column' layout-xs='column'
    md-whiteframe="12">
    <md-content class='md-headline darkPurple' layout="row">
        <a ui-sref="app.dashboard" layout="row" layout-align="center center">
            <md-icon md-svg-src="IMG/icons/resecLogo.svg" class="main-logo"></md-icon>
        </a>
        {{ctrl.serverName | uppercase}} > &nbsp{{$state.current.displayName}}
    </md-content>
    <div layout="row" layout-align="space-between center">
        <md-input-container class="noMarginInput" ng-if=" $state.current.classSelector === 'app.dashboard'">
            <md-select ng-model='$rootScope.selectedTime' placeholder="Real Time">
                <md-option><small>Real Time</small></md-option>
                <md-option><small>1 Hour</small></md-option>
                <md-option selected><small>1 Day</small></md-option>
                <md-option><small>1 Week</small></md-option>
                <md-option><small>1 Month</small></md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-icon-button md-primary" refresh>
            <md-icon>refresh</md-icon>
        </md-button>
        <md-menu md-offset="0 -7" md-position-mode="target-right target" ng-if="ctrl.notificationsLength > 0">
            <md-button md-no-ink class="md-icon-button"id="notification-btn" ng-click="$mdOpenMenu($event)">
                <notification-icon count='ctrl.notificationsLength'>
                    <md-icon style="color: #333">mail</md-icon>
                </notification-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="notification in ctrl.notifications track by $index">
                    <md-button href="{{notification.Url}}">
                        <span class="notification-type" ng-class="{'success': notification.Severity === 'Success','red': notification.Severity === 'Error', 'warning': notification.Severity === 'Warning'  }"></span>
                        <span md-menu-align-target layout-wrap>{{notification.Name}}</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu md-offset="0 -7" md-position-mode="target-right target">
            <md-button aria-label="Open demo menu" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin>account_circle</md-icon>
            </md-button>
            <md-menu-content width="2">
                <md-menu-item logout>
                    <md-button>
                        <md-icon>exit_to_app</md-icon>
                        <span md-menu-align-target>Logout</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item change-password>
                    <md-button>
                        <md-icon>vpn_key</md-icon>
                        <span md-menu-align-target>Change Password</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>