   <div layout='row' flex ng-controller='common' layout-fill>
                        
            <md-sidenav md-component-id="left" id="sidenavIndex" md-is-locked-open='true'  class='md-whiteframe-4dp' layout-align='start center'>
                <md-list>
                    <md-list-item>
                        <md-button ui-sref='app.dashboard' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">{{'dashboard' | translate }}</md-tooltip>
                            <md-icon class='material-icons md-light'>apps</md-icon>
                        </md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button ui-sref='app.policy.dashboard' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">Policy</md-tooltip>
                            <md-icon class='material-icons md-light'>visibility</md-icon>
                        </md-button>
                    </md-list-item>
                     <md-list-item>
                        <md-button ui-sref='app.clusterManagement' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">Cluster Management</md-tooltip>
                            <md-icon class='material-icons md-light'>tune</md-icon>
                        </md-button>
                    </md-list-item>
                     <md-list-item>
                        <md-button ui-sref='app.reports' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">Reports</md-tooltip>
                            <md-icon class='material-icons md-light'>poll</md-icon>
                        </md-button>
                    </md-list-item>
                     <md-list-item>
                        <md-button ui-sref='app.agentManagement' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">Agent Management</md-tooltip>
                            <md-icon class='material-icons md-light'>supervisor_account</md-icon>
                        </md-button>
                    </md-list-item>
                     <md-list-item>
                        <md-button ui-sref='app.channelManagement' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">Channel Management</md-tooltip>
                            <md-icon class='material-icons md-light'>device_hub</md-icon>
                        </md-button>
                    </md-list-item>
                     <md-list-item>
                        <md-button ui-sref='app.cases' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">cases</md-tooltip>
                            <md-icon class='material-icons md-light'>assistant_photo</md-icon>
                            
                        </md-button>
                    </md-list-item>
                     <md-list-item>
                        <md-button ui-sref='app.settings' class='fullWidthButton white' ng-click='common.toggleMenu()'>
                            <md-tooltip md-direction="right">Settings</md-tooltip>
                            <md-icon class='material-icons md-light'>settings</md-icon>
                        </md-button>
                    </md-list-item>
                    
                </md-list>
                <md-fab-speed-dial md-open="common.isOpen" md-direction="{{common.selectedDirection}}" ng-class="common.selectedMode">
                            <md-fab-trigger>
                              <md-button aria-label="menu" class="md-fab md-primary">
                                <md-icon md-svg-src="icons/switchLang.svg"></md-icon>
                              </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                              <md-button aria-label="english" class="md-fab md-raised md-mini" ng-click="common.changeLanguage('en')">
                                EN
                              </md-button>
                              <md-button aria-label="french" class="md-fab md-raised md-mini" ng-click="common.changeLanguage('fr')">
                                FR
                              </md-button>
                              <md-button aria-label="russian" class="md-fab md-raised md-mini" ng-click="common.changeLanguage('ru')">
                                RU
                              </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
            </md-sidenav>
            
            <md-content id="mainContent" flex data-ui-view>

            </md-content>
        </div>