<md-virtual-repeat-container class='md-raised' id="vertical-container">
    <md-list class='noPadding dashboardTablePurpleTop '>
        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='center center'>
                    <i class='material-icons md-48 purpleIcons'>mail</i>
                    <md-title>Email</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-purple" role="progressbar" style="width:{{purpleInt}}%">
                            {{purpleInt}}%API</div>
                        <div class="progress-bar progress-bar-blue" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-yellow" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='center center'>
                    <i class='material-icons md-48 purpleIcons'>language</i>
                    <md-title>Web</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='start start'>
                    <i class='material-icons md-48 purpleIcons'>cloud</i>
                    <md-title>Cloud Mails</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='start start'>
                    <i class='material-icons md-48 purpleIcons'>device_hub</i>
                    <md-title>ScanStation</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='start start'>
                    <i class='material-icons md-48 purpleIcons'>router</i>
                    <md-title>ScanStation2</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='center center'>
                    <i class='material-icons md-48 purpleIcons'>mail</i>
                    <md-title>Email</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='center center'>
                    <i class='material-icons md-48 purpleIcons'>language</i>
                    <md-title>Web</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='start start'>
                    <i class='material-icons md-48 purpleIcons'>cloud</i>
                    <md-title>Cloud Mail</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='start start'>
                    <i class='material-icons md-48 purpleIcons'>device_hub</i>
                    <md-title>ScanStation</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout='row' class='listItem' layout-align='center center'>
            <md-button layout-padding class='_md-no-style' layout='row'>
                <div id='firstItemSection' layout='column' layout-align='start start'>
                    <i class='material-icons md-48 purpleIcons'>router</i>
                    <md-title>ScanStation2</md-title>
                </div>
                <div id='secondItemSection' layout='column' flex layout-align='center end'>
                    <div class="progress fullWidth">
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                            40%</div>
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
                            30%</div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:30%">
                            30%</div>
                    </div>
                    <md-title>575 456 <span translate="Files"></span></md-title>
                </div>
            </md-button>
        </md-list-item>

    </md-list>
</md-virtual-repeat-container>
