<table class="table table-responsive advancedSettings" md-whiteframe="6" id="ncAdvancedSettings">
    <thead class="ncSettingsHeaders">
        <th>Name</th>
        <th>value</th>
    </thead>
    <tbody>
        <tr>
            <td>File Size By Type Limit</td>
            <td><input ng-model="ctrl.advancedSettings.fileSizeLimit"></td>
        </tr>
        <tr>
            <td>Server Port</td>
            <td><input ng-model="ctrl.advancedSettings.serverPort" type="number"></td>
        </tr>
        <tr>
            <td>Check Server Certificate</td>
            <td>
                <md-checkbox aria-label = "basic 1"  ng-model="ctrl.advancedSettings.serverCertificate"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Resume Sanitization on Reconnect</td>
            <td>
                <md-checkbox aria-label = "basic 2"  ng-model="ctrl.advancedSettings.resumeSanitization"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Keep Alive (Sec)</td>
            <td><input type="number" ng-model="ctrl.advancedSettings.secToKeepAlive" /></td>
        </tr>
        <tr>
            <td>Local File Optimization</td>
            <td>
                <md-checkbox aria-label = "basic 3" ng-model="ctrl.advancedSettings.localFileOptimization"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Hash Algorithm</td>
            <td>
                <select ng-model="ctrl.advancedSettings.hashAlgorithm">
                    <option>MD5</option>
                    <option>MD6</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Syslog Server</td>
            <td><input type="number" ng-model="ctrl.advancedSettings.syslogServer" /></td>
        </tr>
        <tr>
            <td>Results Format</td>
            <td>
                <select ng-model="ctrl.advancedSettings.resultsFormat">
                    <option>Plain</option>
                    <option>MD6</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Reduce Db Operations</td>
            <td>
                <md-checkbox aria-label = "basic 4"  ng-model="ctrl.advancedSettings.reduceDBOperations"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Authenticate user On Endpoint</td>
            <td>
                <md-checkbox aria-label = "basic 5" ng-model="ctrl.advancedSettings.authenticateUserOnEndpoint"></md-checkbox>
            </td>
        </tr>
        <tr>
            <tr>
                <td>Use Temp Folder</td>
                <td>
                    <md-checkbox aria-label = "basic 7" ng-model="ctrl.advancedSettings.useTempFolder"></md-checkbox>
                </td>
            </tr>
        </tr>
        <tr>
            <td>Seconds until Disconnect</td>
            <td>
                <input type="number" ng-model="ctrl.advancedSettings.secondsUntilDisconnect" />
            </td>
        </tr>
        <tr>
            <td>Auto Reconnect</td>
            <td>
                <md-checkbox aria-label = "basic 8" ng-model="ctrl.advancedSettings.autoReconnect"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Perform Interactive Update</td>
            <td>
                <select ng-model="ctrl.advancedSettings.performInteractiveUpdate">
                    <option>Passive</option>
                    <option>Active</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Store Blocked File Report</td>
            <td>
                <md-checkbox aria-label = "basic 9" ng-model="ctrl.advancedSettings.storeBlockedFileReport" />
            </td>
        </tr>
        <tr>
            <td>Create Empty Folders</td>
            <td>
                <md-checkbox aria-label = "basic 10" ng-model="ctrl.advancedSettings.createEmptyFolders"></md-checkbox>
            </td>
        </tr>
    </tbody>
</table>
