<link href="app/channelManagement/templates/newChannel/templates/step2/separated/settings/style.css" />

<table class="table table-responsive advancedSettings" md-whiteframe="6" id="ncBasicSettings">
    <thead class="ncSettingsHeaders">
        <th>Name</th>
        <th>value</th>
    </thead>
    <tbody>
        <tr>
            <td>Status Message</td>
            <td><input ng-model="ctrl.basicSettings.statusMessage" placeholder="$(server)"></td>
        </tr>
        <tr>
            <td>Details Message</td>
            <td><input ng-model="ctrl.basicSettings.messageDetail" placeholder="connected to: $(server) $(version)"></td>
        </tr>
        <tr>
            <td>Max Total Files size upload limit</td>
            <td layout="row" layout-align="space-around center">
                <input ng-model="ctrl.basicSettings.fileSizeUploadLimit" type="number" class="RMargin">
                <select>
                    <option ng-selected>Bytes</option>
                    <option>MB</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Max Files Number upload Limit</td>
            <td><input ng-model="ctrl.basicSettings.fileUploadLimit" /></td>
        </tr>
        <tr>
            <td>Agent to server speed limit (Kpbs) </td>
            <td><input type="number" ng-model="ctrl.basicSettings.agentToServerSpeedLimit" /></td>
        </tr>
        <tr>
            <td>Reboot on exit</td>
            <td>
                <md-checkbox aria-label = "rebbot on exit" ng-model="ctrl.basicSettings.rebootOnExit"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Exit to System</td>
            <td>
                <select ng-model="ctrl.basicSettings.exitToSystem">
                    <option>Not Allowed</option>
                    <option>Allowed</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Inactivity Logout time (min)</td>
            <td><input type="number" ng-model="ctrl.basicSettings.inactivityLogout" /></td>
        </tr>
        <tr>
            <td>Show Preview</td>
            <td>
                <md-checkbox aria-label = "rebbot on e" ng-model="ctrl.basicSettings.showPreview"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Login Fail Attempts No</td>
            <td><input ng-model="ctrl.basicSettings.failAttemptsNo" type="number" /></td>
        </tr>
        <tr>
            <td>Login Fail Attempts Lock Timeout</td>
            <td><input ng-model="ctrl.basicSettings.failAttemptsTime" type="number" /></td>
        </tr>
        <tr>
            <td>Reboot on infected Result</td>
            <td>
                <md-checkbox aria-label = "rebbot on et" ng-model="ctrl.basicSettings.rebootOnInfection"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Reboot wait timeout (sec)</td>
            <td><input type="number" ng-model="ctrl.basicSettings.infectionRebootTimeout" /></td>
        </tr>
        <tr>
            <td>Is agent disabled</td>
            <td>
                <md-checkbox aria-label = "rebot on et"  ng-model="ctrl.basicSettings.isAgentDisabled"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Disabled reason message</td>
            <td>
                <md-checkbox aria-label = "rebot on et"  ng-model="ctrl.basicSettings.disabledMessage" />
            </td>
        </tr>
        <tr>
            <td>Enforce Scan Comment</td>
            <td>
                <md-checkbox aria-label = " on et"  ng-model="ctrl.basicSettings.enforceScanComment"></md-checkbox>
            </td>
        </tr>
        <tr>
            <td>Enforce Scan Comment</td>
            <td>
                <md-checkbox aria-label = "  et"  ng-model="ctrl.basicSettings.allowOneScanOnly"></md-checkbox>
            </td>
        </tr>
    </tbody>
</table>
