<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/sources/templates/descriptionBlock/style.css" />

<div ng-controller="endpointSourcesDescriptionBlock as ctrl" layout="column" id="descriptionBlock" layout-margin class="md-whiteframe-z2">
    <div layout="row" layout-align="start center" id="topDescContainer">
        <md-icon class="material-icons md-primary" id="descIcon"> info_outline</md-icon>
        <md-content>Description</md-content>
    </div>
    <md-divider></md-divider>
    <div layout="column" layout-align="space-between start">
        <md-content editable-text="ctrl.description" e-form="sourceDescription">{{ctrl.description || 'no description'}}
        </md-content>
        <md-button ng-click="sourceDescription.$show()" ng-hide="sourcedescription.$visible()" id="descEditButton">
            <md-icon class="material-icons md-primary">edit</md-icon>
        </md-button>
    </div>
</div>
