<link href="app/AccountManager/templates/S1/style.css" rel="stylesheet">

<div layout="colum" layout-align="center center" layout-fill flex >
    <div id="form" layout="column" layout-margin md-whiteframe="6">
        <div layout="row" layout-padding>
            <md-icon flex="20">email</md-icon>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="ctrl.email" type="email">
            </md-input-container>
        </div>
        <md-button id="btn" ng-click="ctrl.sendEmail()">SEND</md-button>
    </div>
</div>