<link href="app/AccountManager/templates/S1/style.css" rel="stylesheet">
<div layout="column" layout-align="center center" layout-fill flex id="container">
    <h1>Please Enter your Email</h1>
    <div id="form" layout="row" layout-margin md-whiteframe="6" layout-align="space-around center">
        <div layout="row" layout-align="center start" flex layout-margin>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="ctrl.email" type="email">
            </md-input-container>
            <md-button class="md-icon-button send-email" ng-click="ctrl.sendEmail()">
                <md-icon style="color: white">send</md-icon>
            </md-button>
        </div>
    </div>
</div>