    <div ng-http-loader methods="['POST']" template="app/common/templates/loader.html" ttl="1"></div>


<div layout="column" check-root-id ng-cloak ng-if="!ctrl.NoChannelExists">
    <top-bar></top-bar>
    <info-top-bar></info-top-bar>
    <inner-nav></inner-nav>
    <inner-view layout-margin></inner-view>
</div>
<md-content layout-fill ng-if="ctrl.NoChannelExists" layout="row" layout-align="center center">
    <h2>No Channel currently exists, please create a new channel by clicking on "Create Channel" on the sidenav</h2>
</md-content>