<tr class="animated fadeInRight pdExceptionRow">
    <td colspan="5">
        <md-chips ng-model="ctrl.exceptionUsers" readonly="ctrl.readonly" md-removable="ctrl.removable" class="md-focused" delete-hint="click to remove this user" placeholder="Enter a user"></md-chips>
        <td>
            <md-button class="md-fab" cancel-exception-creation aria-label="cancel exception creation">
                <md-icon class="material-icons" style="color: white">delete</md-icon>
            </md-button>
        </td>
    </td>
</tr>
