<md-dialog layout-padding id="new_policy_modal">
    <md-toolbar id="new_policy_toolbar" layout="row" layout-align="center center" md-whiteframe="4">Create a New Policy</md-toolbar>
    <md-input-container class="md-block" flex-gt-sm id="new_policy_name">
        <label>New Policy Title</label>
        <input ng-model="ctrl.PolicyInfo.GeneralInformations.PolicyName">
    </md-input-container>
    <div layout="row" layout-align="space-between start">
        <md-button id="cancel_policy_creation" md-whiteframe="4" cancel-policy-creation>CANCEL</md-button>
        <md-button id="confirm_policy_creation" md-whiteframe="4" ng-click="ctrl.CreatePolicy()">CREATE POLICY</md-button>
    </div>
</md-dialog>