<md-sidenav layout-padding md-component-id='policySidenav' id='policySidenav' md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left"
    md-whiteframe="6">
    <link rel="stylesheet" href="app/policy/templates/policySideNav/style.css" />
    <div layout='row' layout-align='space-between center' id="policySidenavTop">
        <h4 flex='80' class='white'><strong>Policy List</strong></h4>
        <md-button id="new-channel-button" init-new-policy-modal md-whiteframe="4" class="md-icon-button" ng-if="ctrl.sidenavHasLoaded == true">
            <md-icon class="white-icon">playlist_add</md-icon>
            <md-tooltip md-direction="bottom">Create a new Policy</md-tooltip>
        </md-button>
    </div>
    <input ng-if="ctrl.sidenavHasLoaded == true" class="searchPolicies" placeholder="search policies" ng-model="PolicyName" />
    <div layout="column" layout-align="center center" ng-if="!ctrl.sidenavHasLoaded">
        <md-progress-circular md-mode="indeterminate" class="md-accent md-hue-1"></md-progress-circular>
    </div>
    <md-list layout-padding id="policyListHolder" ng-if="ctrl.sidenavHasLoaded == true">
        <md-list-item ng-repeat="policy in ctrl.sideNavList | filter: PolicyName track by policy.PolicyId" policy-id={{policy.PolicyId}}
            layout-padding class="policyItem" policy-list-hover layout="column" layout-align="center start" initiate-api-call-with-id
            ng-class="{'selectedPolicy': ctrl.policyId === policy.PolicyId}">
            <div layout="row" layout-align="space-between start" style="width: 100%" ng-init="policy[$index].isEditable = false">
                <div layout="column"  ng-init="policy.isEditable = false">
                   <!-- <p contenteditable="{{policy[policy.PolicyId].isEditable}}" class="md-subhead white bold policyName"
                        ng-class="{'name-in-edition': policy[policy.PolicyId].isEditable }">{{policy.PolicyName}}</p>-->
                        <input ng-model="policy.PolicyName" class="policy-name" ng-disabled = "!policy.isEditable" 
                        ng-class="{'name-in-edition': policy.isEditable}">
                    <div layout="row" layout-align="space-between start">
                        <div layout="row" layout-align="start start">
                            <md-icon class="white-icon marginRight1em">insert_drive_file</md-icon>
                            <p class="md-subhead white noMarginBottom">{{policy.TotalFiles}}</p>
                        </div>
                        <div layout="row" flex class="psGpeHolder">
                            <md-icon class="white-icon marginRight1em">group</md-icon>
                            <p class="md-subhead white noMarginBottom">{{policy.TotalUsers}}</p>
                        </div>
                    </div>
                    <div layout-margin layout-wrap layout="row" layout-align="start center" class="noMarginLeft">
                        <p class="customChips" ng-repeat="channel in policy.ChannelNames" md-whiteframe="4">{{channel}}</p>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button class="md-icon-button" ng-show="policy.isEditable == true" 
                    ng-click="ctrl.RenamePolicy(policy.PolicyId,policy.PolicyName); policy.isEditable =! policy.isEditable">
                        <md-icon class="red-icon">done</md-icon>
                    </md-button>
                    <md-menu md-offset="0 -7" md-position-mode="target-right target">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin class="green-icon">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="2">
                            <md-menu-item>
                                <md-button ng-click="policy.isEditable = true">
                                    <span md-menu-align-target>Rename Policy</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.DeletePolicy(policy.PolicyId, policy.PolicyName)">
                                    <span md-menu-align-target>Delete Policy</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </md-list-item>
    </md-list>
    </nav>
</md-sidenav>