<md-sidenav layout-padding md-component-id='policySidenav' id='policySidenav' md-is-locked-open="$mdMedia('gt-lg')" class="md-sidenav-left" md-whiteframe="6">

    <link rel="stylesheet" href="app/policy/templates/policySideNav/style.css" />

    <div layout='row' layout-align='start center' id="policySidenavTop">
        <h4 flex='66' class='white'><strong>Available Policies</strong></h4>
        <div flex='33' layout='row'>
            <md-button class='fullWidthButton'>
                <md-tooltip md-direction="bottom">add</md-tooltip>
                <md-icon class='material-icons greenIcon'>add</md-icon>
            </md-button>
            <md-button class='fullWidthButton' reorder-policy-list>
                <md-tooltip md-direction="bottom">drag policies to re-order their priority</md-tooltip>
                <md-icon ng-click='showSearchBar()' class='material-icons greenIcon'>list</md-icon>
            </md-button>
        </div>
    </div>

    <input class="searchPolicies" placeholder="search policies" ng-model="name" />

    <md-list layout-padding id="policyListHolder">
        <md-list-item ng-drop="true" ng-drag="ctrl.dragMode" ng-repeat="policy in ctrl.draggableObjects | filter: name" layout-padding class="policyItem" policy-list-hover ng-drag-data="policy" ng-drop-success="ctrl.onDropComplete($index, $data,$event)" index="{{policy.Id}}" layout="column" layout-align="center start">
            
            <div layout="row" layout-align="space-between start" style="width: 100%">
                <p flex="95" class="md-subhead white bold">{{policy.name}}</p>
                <md-icon flex class="pinkIcon material-icons" delete-policy md-whiteframe="7">delete_sweep</md-icon>
            </div>
            
            <div layout="row" layout-align="space-between start">
                <div layout="row" flex="45" layout-align="start start">
                    <md-icon class="lightPurple marginRight1em">insert_drive_file</md-icon>
                    <p class="md-subhead white noMarginBottom">{{policy.files}}</p>
                </div>
                
                <div layout="row" flex class="psGpeHolder">
                    <md-icon class="lightPurple marginRight1em">group</md-icon>
                    <p class="md-subhead white noMarginBottom">{{policy.users}}</p>
                </div>
                
            </div>
            
            <div layout-margin layout-wrap layout="row" layout-align="start center" class="noMarginLeft">
                <p class="customChips" ng-repeat="channel in policy.channels" md-whiteframe="4">{{channel.name}}</p>
            </div>
            
        </md-list-item>
    </md-list>
</md-sidenav>
