<md-toolbar class='transparent' layout='row'> 
    <div flex='50' layout-align='center start'>
        <md-icon>
            <i class='material-icons blue'>radio_button_checked</i>
        </md-icon>
        <md-icon>
            <i class='material-icons yellow'>radio_button_checked</i>
        </md-icon>
        <md-icon>
            <i class='material-icons purple'>radio_button_checked</i>
        </md-icon>
    </div>
    <div style='align: right' flex='50' layout-align='center end'>
        <md-icon>
            <i class='material-icons blue'>radio_button_checked</i>
        </md-icon>
        <md-icon>
            <i class='material-icons yellow'>radio_button_checked</i>
        </md-icon>
        <md-icon>
            <i class='material-icons purple'>radio_button_checked</i>
        </md-icon>
    </div>
</md-toolbar>