
		<div layout="column" flex layout-fill id="loginBody" role="main">
			<md-content layout="column" id="content">
              <md-icon md-svg-src = 'login/resecLogo.svg' class='md-150'></md-icon> 
				<div layout="row" layout-align="center center" >
					<md-whiteframe  id='loginForm' class="md-whiteframe-24dp" layout="column" flex="30" layout-padding flex-sm='90' flex-xs='90'>
						<md-content layout='column' layout-align='center stretch' layout-margin>
                            <md-input-container>
								<label>Server</label>
								<input ng-model = "loginDetails.server">
							</md-input-container>
                            <md-input-container>
								<label>User</label>
								<input ng-model = "loginDetails.username">
							</md-input-container>
							<md-input-container>
								<label>Password</label>
								<input ng-model= "loginDetails.password" type="password">
							</md-input-container>
							<md-input-container>
								<div layout="row" layout-sm="column" layout-margin layout-align="center center">
									<md-button class="md-raised md-primary" ui-sref='app.dashboard' ng-click='login.loadData()'>Login</md-button>
									<md-button class="md-raised">Forgot Password</md-button>
								</div>
							</md-input-container>
						</md-content>
					</md-whiteframe>
				</div>
			</md-content>
		</div>
