#loginBody{

background-image: linear-gradient(0deg, #8B22DB 0%, #9D74D0 100%);
}

#loginForm{
    background-color: white;
    margin-bottom: 3em;
}

.md-150{
    min-height: 150px;
    height: 150px;
    width: 150px;
    margin-top: 7em;
    margin-bottom: 4em;
}