#loginBody{

background-color: #E0E9F7;
}

#loginForm{
    background-color: white;
    margin-bottom: 3em;
}

.md-150{
    min-height: 150px;
    height: 150px;
    width: 150px;
    margin-top: 7em;
    margin-bottom: 4em;
}