<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/who/styles.css" />
<json-formatter json="ctrl.whoData"></json-formatter>
ctrl.ChannelFacets
<json-formatter json="ctrl.ChannelFacets"></json-formatter>
channel facets Values
<json-formatter json="ctrl.ChannelFacets['Channel Usage Settings'].Values"></json-formatter>
<div layout="row" layout-align="end center" layout-margin>
    <md-button id="edit-who-screen" edit-who-screen md-whiteframe="4" class="shadow-on-hover">EDIT</md-button>
</div>
<div layout-margin>
    <div ng-repeat="(L1Key, L1Value) in ctrl.whoData['Channel Usage Settings'].Properties" class="card shadow-on-section-hover" md-whiteframe="4">
        <h3 class="title">{{L1Value.DisplayName}}</h3>
        <div ng-switch="L1Value.InternalName">
            <!--________________________ type = FacetPropertyType_Bool, FacetPropertyType_SingleChoice -> assing policy to channel ________________-->
            <div ng-switch-when="StrPropType_ChannelPolicyToUse" layout-margin>
                <div id="current-policy">
                    <h3>Current Policy Associated to this Channel : {{L1Value.AvailableValues | ReturnPolicyName : ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key] }} </h3>
                </div>
                <!--{Key : ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key] } -->
                <div layout="row" layout-align="start center" layout-wrap ng-if="ctrl.is_who_screen_editable" layout-margin>
                    <p class="custom-chips" ng-repeat="(L2Key, L2Value) in L1Value.AvailableValues" layout="row" layout-align="center center">     
                        {{L2Value.Value}}
                        <md-button class="md-icon-button" ng-click="ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key] = L2Value.Key">
                            <md-icon>add</md-icon>
                        </md-button>
                    </p>
                </div>
            </div>
            <!--________________________ type = FacetPropertyType_MultiChoice _______________________-->
            <div ng-switch-default>
                <div layout="row" layout-margin layout-align="space-between start">
                    <div id="current" flex>
                        <div layout="row">
                            <input class="search-box" type="text" ng-model="currentValue" />
                            <md-icon>search</md-icon>
                        </div>
                        <md-virtual-repeat-container id="vertical-container">
                            <div ng-repeat="x in ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key] track by $index" class="repeateditem" layout="row"
                                layout-align="space-between center" layout-padding flex="100" ng-if="x !== ''">
                                {{x}}
                                <md-button class="md-icon-button no-padding-no-margin" ng-if="ctrl.is_who_screen_editable" ng-click="ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key].splice($index, 1)">
                                    <md-icon class="remove-icon">remove</md-icon>
                                </md-button>
                            </div>
                        </md-virtual-repeat-container>
                    </div>
                    <div id="all" flex="50" ng-if="ctrl.is_who_screen_editable">
                        <input class="search-box" type="text" ng-model="allValue" />
                        <md-virtual-repeat-container layout-margin>
                            <div md-virtual-repeat="all in L1Value.AvailableValues | filter: allValue" class="repeated-item" layout="row" layout-align="space-between center"
                                layout-padding flex="100">
                                {{all}}
                                <md-button class="md-icon-button no-padding-no-margin" ng-if="!ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key].includes(all)"
                                    ng-click="ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key].push(all)">
                                    <md-icon class="add-icon">add</md-icon>
                                </md-button>
                            </div>
                        </md-virtual-repeat-container>
                    </div>
                </div>
            </div>
            <!--________________________ type = IP will go here _______________________-->
            <div ng-switch-when="StrPropType_ChannelIpsSelection">
                <md-virtual-repeat-container id="vertical-container">
                    <div layout="row" class="add-ip" md-whiteframe="4" layout-align="space-between center">
                        <input type="text" ng-model="ipToAdd" flex="85" class="ip-field" />
                        <md-button md-whiteframe="3" ng-click="ctrl.AddIPToChannel(ipToAdd)" flex class="blue-btn">ASSIGN IP</md-button>
                    </div>
                    <div md-virtual-repeat="ip in ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key]  " class="repeated-item" layout="row"
                        layout-align="space-between center" layout-padding flex="100">
                        {{ip}}
                        <md-button class="md-icon-button no-padding-no-margin" ng-if="ctrl.is_who_screen_editable" ng-click="ctrl.ChannelFacets['Channel Usage Settings'].Values[L1Key].splice($index, 1)">
                            <md-icon class="remove-icon">remove</md-icon>
                        </md-button>
                    </div>
                </md-virtual-repeat-container>
            </div>
        </div>
    </div>
</div>