<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/who/templates/groups/style.css" />
<div id="whoGroup" md-whiteframe="6">
    <md-list style="padding-bottom: 0px !important">
        <md-list-item layout="row" layout-align="start center">
            <div layout="row" flex="50" layout-align="start" class="one-em-padding-left">
                <md-icon class="purple noMarginLeft smallMarginRight material-icons md-primary">group</md-icon>
                <h4 class="md-primary">Available Groups</h4>
            </div>
            <div layout="row" flex="50">
                <md-input-container md-no-float flex="80" layout="row" id="usersSearchBox" flex class="noVerticalMargin">
                    <input ng-model="ip" placeholder="Search">
                    <md-icon class="material-icons greenIcon noMarginLeft">search</md-icon>
                </md-input-container>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="ip in ctrl.all_ips |filter: group" class="user-user-list" layout="row" layout-align="space-between center"
                ip="{{ip}}">
                <md-content class="policy-who-groups">{{ip}}</md-content>
                <md-button class="md-icon-button" ng-if="ctrl.is_who_screen_editable" ng-hide="ctrl.isGroupInUse(group)" assign-channel-to-group groupName = "{{ip}}">
                    <md-icon class="material-icon md-blue">add</md-icon>
                </md-button>
            </div>
        </md-virtual-repeat-container>
    </md-list>
</div>