<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/who/templates/groups/style.css" />
<div id="whoGroup" md-whiteframe="6">
    <div layout="row" layout-align="space-between center" layout-padding  class="search-container" id="ip-search-box">
        <md-icon class="search-users-icon md-36" flex="15">public</md-icon>
        <input class="users_search_box" ng-model="current_ip" flex="85" placeholder="All IPS available on the domain" />
    </div>
    <add-ip-to-channel-tmpl ng-if="ctrl.is_who_screen_editable"></add-ip-to-channel-tmpl>
    <md-list style="padding-bottom: 0px !important">
        <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="current_ip in ctrl.current_ips |filter: current_ip" class="user-user-list" layout="row" layout-align="space-between center"
                layout-padding>
                <md-content class="policy-who-groups">{{current_ip}}</md-content>
                <md-button class="md-icon-button" ng-if="ctrl.is_who_screen_editable" remove-ip-from-channel ip-to-remove="{{current_ip}}">
                    <md-icon class="remove-ip">remove</md-icon>
                </md-button>
            </div>
        </md-virtual-repeat-container>
    </md-list>
</div>