.create_channel_sidenav_item {
    background-color: #039BE5;
}

.create_channel_sidenav_item:hover {
    background-color: #0091EA;
    border-left: solid 0.5em #EC407A;
}
.channelSidenavItems:active{
    background-color: red !important;
}
.channel_type_icon{
    fill: white !important;
    margin-left: 0px !important;
}