<div class="legend-container" md-whiteframe="8" layout-wrap>
    <span class="important-figure top-figure">789</span> Files were processed by the system
    <div>
        <br>
         The
        <md-button class="special-button" md-whiteframe="5">Top File Type</md-button> was <span class="important-figure">EXE</span>
        <br> The
        <md-button class="special-button" md-whiteframe="5">Most Active User</md-button>
        was <span class="important-figure">David</span>
    </div>
</div>
<style>
    .legend-container {
        padding: 1em;
        background-color: #3F51B5 !important;
        color: white;
        text-align: left;
        font-size: 2em;
        font-weight: 800;
        border-radius: 4px;
    }
    .special-button {
        background-color: #2196F3 !important;
        border-color: transparent;
    }
</style>