<link rel="stylesheet" href="/app/channelManagement/templates/endpoint/topbar/topBar.css" />
<div controller="channelManagementEndpointTopBar as ctrl" layout="row" flex="100" layout-align="start center" id="CMTopBar">
    <h3 class="purple" layout-margin>Endpoint</h3>
    <div class="btn-group" layout-margin>
        <button type="button" class="btn btn-default dropdown-toggle" id="topBarDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        Last Week<span class="caret"></span></button>
        
        <ul class="dropdown-menu" aria-labelledby="topBarDropDown">
            <li><a>Last Week</a></li>
            <li><a>2 Weeks</a></li>
            <li><a>3 Weeks</a></li>
            <li><a>1 Month</a></li>
        </ul>
    </div>
</div>