<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/who/templates/groups/style.css" />

<div id="whoGroup" md-whiteframe="6">

    <md-list style="padding-bottom: 0px !important">
        <md-list-item layout="row" layout-align="start center">
            <div layout="row" flex="30" layout-align="start" class="one-em-padding-left">
                <md-icon class="purple noMarginLeft smallMarginRight material-icons md-primary">group</md-icon>
                <h4 class="md-primary">Groups</h4>
            </div>
            <div layout="row" flex="70">
                <md-input-container md-no-float flex = "80" layout="row" id="usersSearchBox" flex class="noVerticalMargin">
                    <input ng-model="group" placeholder="Search">
                    <md-icon class="material-icons greenIcon noMarginLeft">search</md-icon>
                </md-input-container>
                <md-button class="md-icon-button" edit-policy-group>
                    <md-icon>edit</md-icon>
                </md-button>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-virtual-repeat-container id="vertical-container">
            <div md-virtual-repeat="group in ctrl.groups |filter: group" class="user-user-list" layout="row" layout-align="space-between center" group-name="{{group}}">
                <!-- <md-icon class="noMarginLeft smallMarginRight material-icons expandGroups">keyboard_arrow_right</md-icon>-->
                <md-content class="policy-who-groups">{{group}}</md-content>
                <md-button class="md-icon-button" ng-if="ctrl.are_groups_editable" delete-group-from-policy>
                    <md-icon class="material-icon md-red">remove</md-icon>
                </md-button>
            </div>
        </md-virtual-repeat-container>
    </md-list>
</div>
