
<div id="top-file-type-header" layout="row" layout-align="start center" layout-margin md-whiteframe="4">
    <md-icon md-svg-src="IMG/icons/top-file.svg" class="noMargin md-72">insert_drive_file</md-icon>
    <h3>Top File Type</h3>
</div>
<md-virtual-repeat-container id="top-files-policy">
    <div md-virtual-repeat="file in ctrl.topFiles" class="policy-top-file-type" flex layout="row" layout-margin>
        <div class="top-file-icon-holder" layout="column" layout-align="center center" layout-margin flex="10">
            <md-icon class="material-icons darkPurple">insert_drive_file</md-icon>
            <p class="noMarginBottom">{{file.extension}}</p>
        </div>
        <div class="top-file-icon-holder" layout="row" layout-align="center center" layout-margin flex="20">
            <md-icon class="material-icons lightBlue">check_circle</md-icon>
            <p class="noMarginBottom">{{file.passed}} Passed Files</p>
        </div>
        <div class="top-file-icon-holder" layout="row" layout-align="center center" layout-margin flex="20">
            <md-icon class="material-icons lightBlue">check_circle</md-icon>
            <p class="noMarginBottom">{{file.sanitized}} Sanitized Files</p>
        </div>
        <div class="top-file-icon-holder" layout="row" layout-align="center center" layout-margin flex="20">
            <md-icon class="material-icons danger">block</md-icon>
            <p class="noMarginBottom">{{file.blocked}} Blocked Files</p>
        </div>
        <div class="top-file-icon-holder" layout="row" layout-align="center center" layout-margin flex>
            <md-icon class="material-icons green">code</md-icon>
            <p class="noMarginBottom">{{file.total}} Total Files</p>
        </div>
    </div>
</md-virtual-repeat-container>
