<md-list class='md-raised dashboardTransparentTable animated fadeInUp' md-whiteframe="6">
    <md-list-item layout-padding class="md-2-line">
        <md-icon class="material-icons md-avatar"><i class="material-icons purpleIcons md-48">picture_as_pdf</i></md-icon>

        <div class="md-list-item-text" layout="column">
            <h5 class='purple'>1,214,116</h5>
            <p class='purple'>True File Type</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout-padding class="md-2-line">
        <md-icon class="material-icons md-avatar"><i class="material-icons purpleIcons md-48">archive</i></md-icon>
        <div class="md-list-item-text" layout="column">
            <h5 class='purple'>1,214,116</h5>
            <p class='purple'>Archive Extraction</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout-padding class="md-2-line">
        <md-icon class="material-icons md-avatar"><i class="material-icons purpleIcons md-48">security</i></md-icon>
        <div class="md-list-item-text" layout="column">
            <h5 class='purple'>1,234,900</h5>
            <p class='purple'>Scans</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout-padding class="md-2-line">
        <md-icon class="material-icons md-avatar"><i class="material-icons purpleIcons md-48">pages</i></md-icon>
        <div class="md-list-item-text" layout="column">
            <h5 class='purple'>1,234,900</h5>
            <p class='purple'>Deconstruct</p>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout-padding class="md-2-line">
        <md-icon class="material-icons md-avatar"><i class="material-icons purpleIcons md-48">save</i></md-icon>
        <div class="md-list-item-text" layout="column">
            <h5 class='purple'>1,234,900</h5>
            <p class='purple' translate='savedFiles'></p>
        </div>
    </md-list-item>
</md-list>
