<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerNav/style.css"/>
<nav class="container-fluid" id="CMEndpointInnerNav">
    <ul class="nav nav-justified" id="CMEndPointInnerNavUL">
        <li><a ui-sref="app.channelManagement.endpoint.dashboard"><strong>Dashboard</strong></a></li>
        <li><a ui-sref="app.channelManagement.endpoint.sources"><strong>Sources</strong></a></li>
        <li><a ui-sref="app.channelManagement.endpoint.targets"><strong>Targets</strong></a></li>
        <li><a ui-sref="app.channelManagement.endpoint.syslog"><strong>Syslog Server Settings</strong></a></li>
    </ul>
</nav>
