<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerNav/style.css"/>
<nav class="container-fluid" id="CMEndpointInnerNav">
    <ul class="nav nav-justified md-whiteframe-z4" id="CMEndPointInnerNavUL">
        <li><a ui-sref="app.channelManagement.endpoint.dashboard"><strong>Dashboard</strong></a></li>
        <li><a ui-sref="app.channelManagement.endpoint.sources"><strong>Inputs</strong></a></li>
        <li><a ui-sref="app.channelManagement.endpoint.targets"><strong>Outputs</strong></a></li>
        <li><a ui-sref="app.channelManagement.endpoint.settings"><strong>Computers</strong></a></li>
    </ul>
</nav>
