<html lang="en" ng-app='resec'>
    <link rel="stylesheet" type="text/css" href="/VIEWS/login/login.css">
    <link href="../../bower_components/angular-material/angular-material.min.css" rel='stylesheet' type='text/css' />
    <link href="../../css/Font/MaterialFonts.css"
    rel="stylesheet">
    <link rel="stylesheet" href="../../css/Font/Roboto.css">
    <link rel='stylesheet' href="../../bower_components/angular-material-expansion-panel/dist/md-expansion-panel.min.css"/>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/angular-animate.min.js"></script>
    <script src="../../js/angular-aria.min.js"></script>
    <script src="../../js/angular-message.min.js"></script>
    <script src='../../js/angular-route.min.js'></script>
    <script src="../../js/material.min.js"></script>
    <script src='../../js/ang.js'></script>
    <script src='../../js/config.js'></script>
    <script src='../../js/customServices/dataLoader.js'></script>
    <script src='../../js/chart.js'></script>
    <script src='../../js/angular-chart.js'></script>
    <script src='../../js/angular-chart.js'></script>
    <script src='../../js/ngMdIcons.js'></script>
    <!--<script type='text/javascript' src='../../js/bootstrap.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="../../bower_components/angular-material-expansion-panel/dist/md-expansion-panel.min.js"></script>
    <script src="../../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../../bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
    <script src="../../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="login.js"></script>
</head>

    
    
    
    
    
	<body layout="row" id="loginBody" ng-controller="login as login">
		<div layout="column" flex id="content" role="main">
			<md-content layout="column" id="content">
              <md-icon md-svg-src = 'resecLogo.svg' class='md-150'></md-icon> 

				<div layout="row" layout-align="center center" >
					<md-whiteframe  id='loginForm' class="md-whiteframe-24dp" layout="column" flex="30" layout-padding flex-sm='90' flex-xs='90'>
						<md-content layout='column' layout-align='center stretch' layout-margin>
                            <md-input-container>
								<label>Server</label>
								<input ng-model="user.server">
							</md-input-container>
                            <md-input-container>
								<label>User</label>
								<input ng-model="user.user">
							</md-input-container>
							<md-input-container>
								<label>Password</label>
								<input ng-model="user.password" type="password">
							</md-input-container>
							<md-input-container>
								<div layout="row" layout-sm="column" layout-margin layout-align="center center">
									<md-button class="md-raised  md-primary" flex-sm="100">Login</md-button>
									<md-button class="md-raised"  flex-sm="100">Forgot Password</md-button>
								</div>
							</md-input-container>
						</md-content>
					</md-whiteframe>
				</div>
			</md-content>
		</div>
	</body>
</html>