<md-content class="md-padding" layout='row' style="padding-left: 0px; padding-right: 0px">

    <div layout='row' style='background-color: white' layout-padding class="md-whiteframe-4dp" flex="100">
        <div layout='row' layout-align='start center' class='col-md-4' hide-xs hide-sm hide-md id="blockedFileSpan">
            <h3 class='red'>2,545 <span style='color: black'>Files</span></h3>
        </div>

        <div layout='row' flex layout-align='start center' layout-margin layout-align-xs='center center' layout-align-sm='center center' layout-align-md='center center'>
            <p class='gray'>Blocked Files</p>
            <md-switch ng-model="ctrl.data.cb1" aria-label="Switch 1"></md-switch>
            <p class='gray'>Processed Files</p>
        </div>
    </div>
</md-content>

<div layout="row" layout-align="space-between start" vertilize-container id="pdWrapper">
    <policy-dashboard-top-files vertilize id="topFileTypeMdList" md-whiteframe="6"></policy-dashboard-top-files>
    <policy-dashboard-top-users vertilize id="topUsersMdList" md-whiteframe="6"></policy-dashboard-top-users>
</div>
