<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/sources/templates/settingsBlock/style.css" />


<div layout="row" flex="50" style="background-color: blue">
    <md-list id="ChannelSourcesSettingsList" ng-controller="endpointSourcesSettingsBlock as ctrl">
        <md-list-item layout="row" layout-align="start center">
            <md-icon class="material-icons md-primary" id="channelSourcesSettingsIcon">settings</md-icon>
            <md-content>Settings</md-content>
        </md-list-item>
    </md-list>

</div>
