<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/sources/templates/settingsBlock/style.css" />


<div layout="row" flex="100">
    <table ng-controller="endpointSourcesSettingsBlock as ctrl" id="ChannelSourcesSettingsList" class="table table-condensed table-responsive md-whiteframe-z2">
        <tbody>
            <tr layout="row" layout-align="center center" class="channelSettingsRow">
                <td flex="33" class="verticalMdDivider">Root Folder</td>
                <td layout="row" flex layout-align="space-between center">
                    <span editable-text="ctrl.rootFolder" e-name="rootFolder" e-form="rootFolder">{{ ctrl.rootFolder || 'no root folder defined' }}</span>
                    <md-icon ng-click="rootFolder.$show()" class="material-icons noMarginIcons">edit</md-icon>
                </td>
            </tr>
            <tr layout="row" layout-align="center center" class="channelSettingsRow">
                <td flex="33" class="verticalMdDivider">Speed Limit</td>
                <td layout="row" flex="50" layout-align="space-between center" class="verticalMdDivider">
                    <span editable-number="ctrl.speedLimit" e-name="speedLimit" e-form="speedLimit">{{ ctrl.speedLimit || 'unlimited' }}</span>
                    <md-icon ng-click="speedLimit.$show()" class="material-icons noMarginIcons">edit</md-icon>
                </td>
                <td layout="row" flex layout-align="end center">
                    <select class="commonCustomSelector" ng-model="ctrl.selectedSpeedUnit">
                        <option value="" disabled selected>Unit</option>
                        <option ng-repeat="unit in ctrl.speedUnits">{{unit}}</option>
                    </select>
                </td>
            </tr>
            <tr layout="row" layout-align="center center" class="channelSettingsRow">
                <td flex="33" class="verticalMdDivider">User Quota</td>
                <td layout="row" flex="50" layout-align="space-between center" class="verticalMdDivider">
                    <span editable-number="ctrl.quotaLimit" e-name="quotaLimit" e-form="quotaLimit">{{ ctrl.quotaLimit || 'unlimited' }}</span>
                    <md-icon ng-click="quotaLimit.$show()" class="material-icons noMarginIcons">edit</md-icon>
                </td>
                <td layout="row" flex layout-align="end center">
                    <select class="commonCustomSelector" ng-model="ctrl.selectedQuotaUnit">
                        <option value="" disabled selected>Unit</option>
                        <option ng-repeat="unit in ctrl.quotaUnits">{{unit}}</option>
                    </select>
                </td>
            </tr>
            <tr layout="row" layout-align="center center" class="channelSettingsRow">
                <td flex="33" class="verticalMdDivider">Number of hours to keep files</td>
                <td layout="row" flex layout-align="space-between center">
                    <span editable-number="ctrl.hoursToKeep" e-name="hoursToKeep" e-form="hoursToKeep">{{ ctrl.hoursToKeep || 'undefined' }}</span>
                    <md-icon ng-click="hoursToKeep.$show()" class="material-icons noMarginIcons">edit</md-icon>
                </td>
            </tr>
            <tr layout="row" layout-align="center center" class="channelSettingsRow">
                <td flex="33" class="verticalMdDivider">New folder permissions</td>
                <td layout="row" flex layout-align="space-between center">
                    <span editable-text="ctrl.folderPermissions" e-name="folderPermissions" e-form="folderPermissions">{{ ctrl.folderPermissions || 'undefined' }}</span>
                    <md-icon ng-click="folderPermissions.$show()" class="material-icons noMarginIcons">edit</md-icon>
                </td>
            </tr>
            <tr layout="row" class="channelSettingsRow">
                <td layout="row" flex="20">
                    Use relay
                </td>
                <td flex="15" layout="row" layout-align="end center">
                    <md-switch class="md-primary noMarginSwitch" ng-model="ctrl.useRelay" aria-label="Active?"></md-switch>
                </td>
            </tr>
            <tr layout="row" class="channelSettingsRow">
                <td layout="row" flex="20">
                    Overwrite existing files
                </td>
                <td flex="15" layout="row" layout-align="end center">
                    <md-switch class="md-warm noMarginSwitch" ng-model="ctrl.overwriteFiles" aria-label="overwrite?"></md-switch>
                </td>
            </tr>
            <tr layout="row" class="channelSettingsRow">
                <td layout="row" flex="20">
                    Create single ZIP files 
                </td>
                <td flex="15" layout="row" layout-align="end center">
                    <md-switch class="md-warm noMarginSwitch" ng-model="ctrl.singleZIP" aria-label="singleZIP?"></md-switch>
                </td>
            </tr>
            <tr layout="row">
                <td layout="row" flex="20">
                    Allow Media Burn
                </td>
                <td flex="15" layout="row" layout-align="end center" class="verticalMdDivider">
                    <md-switch class="md-primary noMarginSwitch" ng-model="ctrl.mediaBurn" aria-label="mediaBurn?"></md-switch>
                </td>
                <td layout="row" flex layout-align="space-between center">
                    <span editable-text="ctrl.mediaBurnPath" e-name="mediaBurnPath" e-form="mediaBurnPath">{{ ctrl.mediaBurnPath || 'no defined path' }}</span>
                    <md-icon ng-click="mediaBurnPath.$show()" class="material-icons noMarginIcons">edit</md-icon>
                </td>
            </tr>


        </tbody>
    </table>
</div>
