#ChannelSourcesSettingsList{
    background-color: white;
}
#channelSourcesSettingsIcon{
    margin-left: 0px;
    margin-right: 0.5em;
}
.channelSettingsRow{
    border-bottom: solid 2px #DAE1F0;
}

.mdDividerRight{
    border-right
}
.channelSettingsRow > td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.verticalMdDivider{
    border-right: solid 2px #DAE1F0;
}
.noMarginSwitch{
    margin-top: 0px;
    margin-bottom: 0px;
}
