<div class='table-responsive'>
<table class='table table-striped' id='customNoPadding' ng-controller='fileType as fileTypeCtrl'>
    <thead>
        <th scope='row'>#</th>
        <th ng-repeat='file in fileTypeCtrl.fileTypeSections'>{{file}}</th>
    </thead>
    <tbody>
        <tr ng-repeat = 'file in fileTypeCtrl.files'>
            <td>{{file}}</td>
            <td>
                <md-checkbox aria-label='File is allowed' ng-model='isAllowed'></md-checkbox>
            </td>
            <td>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Unlimited</label>
                    <input ng-model="windows.exe.maxSize">
                </md-input-container>            
            </td>
            <td>
                <md-input-container style="margin-right: 10px;">
                    <label>Option ..</label>
                    <md-select ng-model="transformOptions">
                        <md-option>Option A</md-option>
                        <md-option>Option B</md-option>
                        <md-option>Option C</md-option>
                    </md-select>
                </md-input-container>
            </td>
            <td>
                <md-checkbox ng-model='isProcessed' aria-label='Process embbeded files'></md-checkbox>
            </td>
            <td>
                <md-checkbox ng-model='sandBox' aria-label='sandbox'></md-checkbox>
            </td>
            <td>
                <md-button ng-click="ctrl.addOne()">Add Exception</md-button>
            </td>
<!--fileTypeCtrl.showTabDialog($event)-->
        </tr>
    </tbody>
</table>
</div>