    <md-content>
        <h1 class="md-display-2">What is this policy?</h1>
        <policy-definition-switcher></policy-definition-switcher>
        <div data-ui-view></div>
        <!--<md-center-tabs >
            <md-tabs  md-dynamic-height md-border-bottom md-stretch-tabs='always'>
                <md-tab flex label='File Type'>
                    <md-content flex layout-fill>
                        <file-type ng-controller='fileType as fileTypeCtrl'></file-type>
                    </md-content>
                </md-tab>
                <md-tab label='Detection'>
                    <md-content>
                        <detection ng-controller = 'detection as detection'></detection>
                    </md-content>
                </md-tab>
                <md-tab label='Settings'>
                    <md-content>
                        <policy-settings ng-controller = 'policySettings as settings'></policy-settings>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-center-tabs>-->
    </md-content>
