<link rel="stylesheet" href="app/policy/templates/policyDefinition/templates/detection/style.css" />
<p>{{ctrl.detection}}</p>
<md-button md-ink-ripple="white" md-whiteframe="6" class="editDetection" aria-label="edit preferences" edit-preferences>EDIT</md-button>
<div id="detectClick" check-if-editable>
    <div id="detectionWrapper" class="notEditable">
        <table md-whiteframe="6" class="detectionTables table table-responsive" match-width>
            <thead>
                <th class="verticalMargin" id="copyMyWidth">
                    <div layout="row" layout-align="start center" class="this">
                        <md-icon class="noMargin">list</md-icon>
                        <p class="noMarginBottom">SCANNERS</p>
                    </div>
                </th>
                <th class="verticalMargin">
                    <div layout="row" layout-align="start center">
                        <md-checkbox aria-label="useAll" class="noMarginBottom" ng-model="ctrl.detection.useAll" use-all></md-checkbox>
                        <p class="noMarginBottom">USE</p>
                    </div>
                </th>
            </thead>
            <tbody>
                <tr class="verticalMargin">
                    <td class="this">Avira</td>
                    <td>
                        <md-checkbox aria-label="avira" class="noMarginBottom" ng-model="ctrl.detection.avira"></md-checkbox>
                    </td>
                </tr>
                <tr class="verticalMargin">
                    <td class="this">Clam</td>
                    <td>
                        <md-checkbox aria-label="clam" class="noMarginBottom" ng-model="ctrl.detection.clam"></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>

        <table md-whiteframe="6" class="detectionTables table table-responsive">

            <tbody>
                <tr class="verticalMargin">
                    <td class="this" unwrapp-fireye>
                        <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                        FireEye Sandbox
                    </td>
                    <td>
                        <md-checkbox aria-label="feSandbox" class="noMarginBottom" ng-model="ctrl.detection.fireEyeSandbox.isActive"></md-checkbox>
                    </td>
                </tr>
                <tr class="fireEye hidden animated fadeIn" ng-repeat="fireEye in ctrl.fireEye_servers_list">
                    <td>
                        <md-icon>some_icon</md-icon>
                        {{fireEye}}
                    </td>
                    <td>
                        <md-checkbox ng-model="ctrl.detection.allowed_fireEyes[fireEye].use"></md-checkbox>
                    </td>
                </tr>
                <tr class="fireEye hidden animated fadeIn">
                    <td>
                        <md-icon class="material-icons">someicon</md-icon>
                        FileTypes To Check
                    </td>
                    <td>
                        <md-checkbox aria-label="filetype" ng-model="ctrl.detection.fireEyeSandbox.filetype"></md-checkbox>
                    </td>
                </tr>
                <tr class="verticalMargin">
                    <td class="this" unwrapp-cukoo>
                        <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                        Cukoo Sandbox
                    </td>
                    <td>
                        <md-checkbox aria-label="cukoo" class="noMarginBottom" ng-model="ctrl.detection.cukoo.isActive"></md-checkbox>
                    </td>
                </tr>
                <tr class="cukoo hidden animated fadeIn">
                    <td>
                        <md-icon class="material-icons">some_icon</md-icon>
                        Use Cukoo servers in this policy
                    </td>
                    <td>
                        <md-checkbox aria-label="useServers" ng-model="ctrl.detection.cukooSandbox.useServers"></md-checkbox>
                    </td>
                </tr>
                <tr class="cukoo hidden animated fadeIn">
                    <td>
                        <md-icon class="material-icons">someicon</md-icon>
                        FileTypes To Check
                    </td>
                    <td>
                        <md-checkbox aria-label="fileType" ng-model="ctrl.detection.cukooSandbox.filetype"></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>

        <table md-whiteframe="6" class="detectionTables table table-responsive">
            <tbody>
                <tr class="verticalMargin">
                    <td class="this">Vendor Signing</td>
                    <td>
                        <md-checkbox aria-label="vendor" class="noMarginBottom" ng-model="ctrl.detection.vendorSigning"></md-checkbox>
                    </td>
                </tr>
                <tr class="verticalMargin">
                    <td class="this">XML Validation</td>
                    <td>
                        <md-checkbox aria-label="xml" class="noMarginBottom" ng-model="ctrl.detection.xmlValidation"></md-checkbox>
                    </td>
                </tr>
                <tr class="verticalMargin">
                    <td class="this">Regular Expression</td>
                    <td>
                        <md-checkbox aria-label="regex" class="noMarginBottom" ng-model="ctrl.detection.regex"></md-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
