.detectionTables{
    background-color: white;
    border-radius: 3px;
    margin-top: 2em;
}
.noMargin{
    margin-left: 0px;
    margin-right: 1em;
}
.noMarginBottom{
    margin-bottom: 0px !important;
}
.verticalMargin{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.emptyRow{
    height: 3em;
    background-color: none;
}