<link rel="stylesheet" href="app/policy/templates/who/templates/computers/style.css" />
<div layout="row" layout-align="space-between start">
    <div id="all_computer" layout="column" flex="50" layout-margin md-whiteframe="6">
        <div layout="row" layout-align="space-between center" layout-padding>
            <input class="computer_search_box" ng-model="name" flex="90" />
            <md-button class="md-icon-button" edit-all-computers>
                <md-icon>edit</md-icon>
            </md-button>
        </div>
        <md-virtual-repeat-container class="virtual-repeat-full-height">
            <div md-virtual-repeat="computer in ctrl.all_computers | filter: name | orderBy: name" class="virtual-repeat-div"
             layout-padding layout-align="space-between center" layout="row">
                {{computer.name}}
                <md-button ng-if="ctrl.are_all_computers_editable" class="md-icon-button animated fadeIn" add-computer-to-policy>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </md-virtual-repeat-container>
    </div>
    <div id="policy_computers" layout="column" flex="50" layout-margin md-whiteframe="6">
        <div layout="row" layout-padding layout-align="space-between center">
            <input class="computer_search_box" ng-model="policy_computer" flex="90" placeholder="{{ctrl.test}}" />
            <md-button class="md-icon-button" edit-policy-computers>
                <md-icon>edit</md-icon>
            </md-button>
        </div>
        <md-virtual-repeat-container class="virtual-repeat-full-height">
            <div md-virtual-repeat="policy_computer in ctrl.policy_computers | filter: policy_computers | orderBy: policy_computers"
            layout="row" layout-align="space-between center" class="virtual-repeat-div">
                <md-content>{{policy_computer}}</md-content>
                <md-button ng-if="ctrl.are_current_computers_editable" class="md-icon-button" remove-computer-from-policy>
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-virtual-repeat-container>
    </div>
</div>