<div ng-controller="PDOSTable as vm">

    <table class="table table-responsive animated bounceInRight" id="OSTable">

        <tr class="OSTableRows" layout="row" ng-click="vm.showWindows =! vm.showWindows">
            <td style="width: 17%">Windows</td>
            <td>
                <md-checkbox aria-label="activeWindows" class="checkBoxNoMarginBottom  " ng-model="vm.windows"></md-checkbox>
            </td>
        </tr>


        <tr>
            <td class="PDOSFilesRowsTD" ng-show="vm.showWindows">
                <windows-files></windows-files>
            </td>
        <tr>


                <tr class="OSTableRows" layout="row">
                    <td style="width: 17%">Linux</td>
                    <td>
                        <md-checkbox aria-label="activeLinux" class="checkBoxNoMarginBottom green" ng-model="vm.linux"></md-checkbox>
                    </td>
                </tr>
                <tr class="OSTableRows" layout="row">
                    <td style="width: 17%">Mac</td>
                    <td>
                        <md-checkbox aria-label="activeMac" class="checkBoxNoMarginBottom" ng-model="vm.mac"></md-checkbox>
                    </td>
                </tr>
                <tr class="OSTableRows" layout="row" id="test">
                    <td style="width: 17%">Java</td>
                    <td>
                        <md-checkbox aria-label="activeJava" class="checkBoxNoMarginBottom  " ng-model="vm.java"></md-checkbox>
                    </td>
                </tr>

    </table>




</div>

<link rel="stylesheet" href="app/policy/templates/policyDefinition/templates/fileType/OSTables/OS/style.css" />