#OSTable{
    background-color: white !important;
    margin-top: -1.1em !important;
}
#OSTable > td {
    border-bottom: solid 2px blue !important;
}
.OSTableRows{
    border-bottom: solid 2px #f1f1f1;
}
.checkBoxNoMarginBottom{
    margin-bottom: 0px;
}

md-checkbox.md-default-theme.md-checked ._md-icon, md-checkbox.md-checked ._md-icon{
 background-color: #23CCC7;
}
md-checkbox.md-default-theme.md-checked ._md-icon:after, md-checkbox.md-checked ._md-icon:after{
    border-color: white;
}
md-checkbox.md-default-theme ._md-icon, md-checkbox ._md-icon{
    border-color: #23CCC7;
}