<div class="ncioTitleWrapper">
    <md-icon md-svg-src="icons/ncInput.svg"></md-icon>
    <md-content class="md-title">Select Inputs</md-content>

</div>

<div md-whiteframe="6" layout="column" id="theRow" layout-padding layout-align="space-around">
    <div layout="row" layout-align="space-around center">
        <div ng-repeat=" x in ctrl.iRow1" layout="column" layout-align="center center" nc-input-list-type class="ncitWrapper">
            <md-icon md-svg-src="icons/{{x.icon}}" class="md-46 ncPaddingTop"></md-icon>
            <md-content class="ncitName ncPaddingBottom">{{x.name}}</md-content>
        </div>
    </div>
    <div layout="row" layout-align="space-around center">
        <div ng-repeat=" x in ctrl.iRow2" layout="column" layout-align="center center" nc-input-list-type class="ncitWrapper">
            <md-icon md-svg-src="icons/{{x.icon}}" class="md-46 ncPaddingTop"></md-icon>
            <md-content class="ncitName ncPaddingBottom">{{x.name}}</md-content>
        </div>
    </div>
</div>

<!-- after servers will run, will have to get tis from local json -->
