<link rel="stylesheet" href="app/settings/style.css" />
<div class="md-padding" ng-cloak>
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselec md-dynamic-height>
        <md-tab ng-repeat="tab in ctrl.allProps" label="{{tab.TabName}}" class="setting_tabs">
            <md-tab-body class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                <md-list class='whiteBk' ng-repeat="prop in tab.Properties">
                    <md-list-item layout='row' layout-align='space-between center' layout-padding>
                        {{prop.DisplayName}}
                        <md-icon class='material-icons md-primary' style='margin-right: 0.3em'>
                            info
                            <md-tooltip>
                                {{prop.Comment}}
                            </md-tooltip>
                        </md-icon>
                        <input flex='30' type="{{prop.InputType}}" class="form-control" ng-model="prop.Value" ng-readonly="prop.IsVolatile" placeholder="{{prop.DisplayName}}">
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <md-button ng-click="ctrl.saveProperties()" id="save_settings_changes" md-whiteframe="6">Save Changes</md-button>
</div>


{{jhkgfjhkgjhk}}