<link rel="stylesheet" href="app/settings/style.css" />
<div ng-http-loader methods="['POST']" template="app/common/templates/loader.html" ttl="1"></div>
<div class="md-padding" ng-cloak>
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselec md-dynamic-height md-whiteframe="4">
        <md-tab ng-repeat="tab in ctrl.allProps" label="{{tab.TabName}}" class="setting_tabs">
            <md-tab-body class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                <md-list class='whiteBk' ng-repeat="prop in tab.Properties">
                    <md-list-item layout='row' layout-align='space-between center' layout-padding>
                        <div layout="row" layout-align=" start center" flex="40">
                            <md-icon class='material-icons detail-toolip' style='margin-right: 0.3em'>
                                info
                                <md-tooltip>
                                    {{::prop.Comment}} : {{::prop.InputType}}
                                </md-tooltip>
                            </md-icon>
                            {{::prop.DisplayName}}
                        </div>
                        <div ng-if="prop.InputType == 'number'" layout="row" layout-align="space-between center" flex="60">
                            <md-input-container flex="70" md-no-float class="md-block">
                                <input type="number" ng-disabled="prop.IsVolatile" ng-model="prop.Value" placeholder="{{prop.DisplayName }}: {{prop.InputType}}"
                                    formatter="prop.Value">
                            </md-input-container>
                            <md-input-container flex ng-if="prop.IsComplex">
                                <label>Unit</label>
                                <md-select ng-model="ctrl.userState">
                                    <md-option>KB</md-option>
                                    <md-option>MB</md-option>
                                    <md-option>GB</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-input-container flex="60" md-no-float class="md-block" ng-if="prop.InputType == 'text'">
                            <input type="text" ng-disabled="prop.IsVolatile" ng-model="prop.Value" ng-readonly="prop.IsVolatile" placeholder="{{prop.Value}}">
                        </md-input-container>
                        <md-input-container flex="60" md-no-float class="md-block" ng-if="prop.InputType == 'password'">
                            <input type="password" ng-disabled="prop.IsVolatile" ng-model="prop.Value" ng-readonly="prop.IsVolatile" placeholder="{{prop.Value}}">
                        </md-input-container>
                        <div flex="60" ng-if="prop.InputType == 'datetime'" ng-disabled="prop.IsVolatile">
                            <md-datepicker style="width: 100% !important " ng-model="prop.Value" string-to-date></md-datepicker>
                        </div>
                        <md-checkbox ng-disabled="prop.IsVolatile" ng-if="prop.InputType == 'checkbox'" ng-readonly="prop.IsVolatile" ng-model="prop.Value"></md-checkbox>
                    
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <md-button ng-click="ctrl.SaveSettings()" id="save_settings_changes" md-whiteframe="6">Save Changes</md-button>
</div>
<json-formatter json="ctrl.allProps"></json-formatter>