<link rel="stylesheet" href="app/policy/templates/policyDefinition/templates/fileType/style.css" />

<div layout='column' ng-cloak ng-controller="fileType as ctrl" id="fileTypeMain">

    <div id="policyFileTypeToolbar" layout="row" layout-align="space-between center" class="md-whiteframe-8dp">
        <div class="form-group has-feedback" id="PDFTSearchBox" flex="30" layout="row">
            <input type="text" class="form-control" placeholder="Search for...">
            <md-icon class="material-icons form-control-feedback" id="PDFTSearchIcon">search</md-icon>
        </div>
        <md-button flex="20" id="PDFTExceptionButton" layout-align="space-between center">
            <md-icon class="material-icons" id="PDFTExceptionButtonIcon">error</md-icon><strong>Show all exceptions</strong>
        </md-button>
    </div>

    <table class="table table-responsive" id="PDFTMainTable">
        <thead>
            <th>#</th>
            <th ng-repeat="section in ctrl.fileTypeSections">{{section}}</th>
        </thead>
        <tr class="PDFTMainTableRow">
            <td colspan="7">
                <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                <strong>Executables</strong></td>
        </tr>
    </table>


</div>








<!--<div layout-padding>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <div class='primary active' aria-pressed="true" data-toggle="collapse" data-parent="#accordion" href="#executables">
                    Executables</div>
                  </h4>
                </div>
                <div id="executables" class="panel-collapse collapse">
                    <div class="panel-body fullWidthPanel">
                        <md-button class='fullWidthPolicy'>
                            <h5 class="panel-title" layout-padding>
                            <div data-toggle="collapse" data-parent="#customTable" href="#windows">
                                <small>Windows</small>
                            </div>
                        </h5>
                        </md-button>
                        <div class='panel-body collapse' id='windows'>
                            <custom-table ng-controller='fileType as fileTypeCtrl'></custom-table>
                        </div>
                        <md-button class='fullWidthPolicy'>
                            <h5 class="panel-title" layout-padding>
                            <div data-toggle="collapse" data-parent="#customTable" href="#mac">
                                <small>Mac</small>
                            </div>
                        </h5>
                        </md-button>
                        <div class='panel-body collapse' id='mac'>
                            <custom-table id='windowsTable' file-type-sections='fileTypeSections' files='files'></custom-table>
                        </div>
                        <md-button class='fullWidthPolicy'>
                            <h5 class="panel-title" layout-padding>
                            <div data-toggle="collapse" data-parent="#customTable" href="#java">
                                <small>Java</small>
                            </div>
                        </h5>
                        </md-button>
                        <div class='panel-body collapse' id='java'>
                            <custom-table id='windowsTable' file-type-sections='fileTypeSections' files='files'></custom-table>
                        </div>
                        <md-button class='fullWidthPolicy'>
                            <h5 class="panel-title" layout-padding>
                            <div data-toggle="collapse" data-parent="#customTable" href="#linux">
                                <small>Linux</small>
                            </div>
                        </h5>
                        </md-button>
                        <div class='panel-body collapse' id='linux'>
                            <custom-table id='windowsTable' file-type-sections='fileTypeSections' files='files'></custom-table>
                        </div>

                    </div>
                </div>
                <!--<div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="">
                    Files</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="">
                    Other Executables</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>-->

<!--<md-checkbox ng-model="data.cb1" style='padding-bottom: 0px' aria-label="Checkbox 1"></md-checkbox>-->