<link rel="stylesheet" href="app/policy/templates/policyDefinition/templates/fileType/style.css" />
<div ng-http-loader methods="['POST']" template="app/common/templates/loader.html" ttl="1"></div>
<json-formatter json="ctrl.policy.PolicyFacets"></json-formatter>
<json-formatter json="ctrl.PolicyFacets"></json-formatter>

<div layout="row" layout-align="space-between center" class="filetype-edition-center">
    <md-button aria-label="advanced mode" md-whiteframe="4" save-filetypes ng-class="{'filetype-not-edited': !ctrl.isFiletypeEditable, 'filetype-in-edition': ctrl.isFiletypeEditable}">
        <span ng-show="ctrl.isFiletypeEditable">SAVE</span>
        <span ng-show="!ctrl.isFiletypeEditable">EDIT</span>
    </md-button>
    <md-button aria-label="advanced mode" md-whiteframe="4" ng-click="ctrl.isFileTypesAdvanceModeON =! ctrl.isFileTypesAdvanceModeON"
        ng-class="{'basic-mode-button': !ctrl.isFileTypesAdvanceModeON, 'advanced-mode-button': ctrl.isFileTypesAdvanceModeON}">
        <span ng-if="ctrl.isFileTypesAdvanceModeON">Basic Mode</span>
        <span ng-if="!ctrl.isFileTypesAdvanceModeON">Advanced Mode </span>
    </md-button>
</div>


<input ng-show="ctrl.isFiletypeEditable" ng-model="extension" id="search-extensions" placeholder="search any extension" md-whiteframe="6"/>

<table class="table table-responsive" md-whiteframe="6" ng-cloak id="filetype-table" ng-class="{'not-editable': !ctrl.isFiletypeEditable }">
    <thead>
        <th>Category</th>
        <th>Allow</th>
        <th ng-if="ctrl.isFileTypesAdvanceModeON">Process Embeded Files</th>
        <th ng-if="ctrl.isFileTypesAdvanceModeON">Size limit</th>
        <th ng-if="ctrl.isFileTypesAdvanceModeON">Sandbox</th>
        <th ng-if="ctrl.isFileTypesAdvanceModeON">Regex Scanner</th>
        <th ng-if="ctrl.isFileTypesAdvanceModeON">Vendor Signature</th>
    </thead>
    <tbody>
        <tr ng-repeat-start="(L0Key, L0Value) in ctrl.Filetypes track by $index">
            <td>
                <md-button aria-label="expand" class="md-icon-button" ng-click="L0Value.AreChildrenHidden =! L0Value.AreChildrenHidden">
                    <md-icon ng-show="!L0Value.AreChildrenHidden">keyboard_arrow_right</md-icon>
                    <md-icon ng-show="L0Value.AreChildrenHidden">keyboard_arrow_down</md-icon>
                </md-button>
                {{::L0Key}}
            </td>
            <td colspan="7">
                <md-checkbox aria-label="check all" class="custom-checkbox" ng-model="$index" md-indeterminate="ctrl.FiletypeIsIndeterminate(L0Value)"></md-checkbox>
            </td>
        </tr>
        <tr ng-repeat-start="Ext in L0Value | filter : extension" ng-if="L0Value.AreChildrenHidden ||  extension ===  Ext.Extension"
            ng-init="L0Value.AreChildrenHidden = true">
            <td>
                <span class="extensions">{{::Ext.Extension }}</span>
            </td>
            <td>
                <md-checkbox aria-label="is Allowed" ng-model="Ext.AllowOption"></md-checkbox>
            </td>
            <td ng-if="ctrl.isFileTypesAdvanceModeON">
                <md-checkbox aria-label="Do Not Process Embeded Files" ng-model="Ext.ProcessEmbeddedFilesOption"></md-checkbox>
            </td>
            <td ng-if="ctrl.isFileTypesAdvanceModeON">
                <input class="custom-input" type="number" ng-model="Ext.SizeLimitOption.Size" />
                <select class="custom-select" ng-model="Ext.SizeLimitOption.Unit" ng-options="unit for unit  in ctrl.ComputingUnits"></select>
            </td>
            <td ng-if="ctrl.isFileTypesAdvanceModeON">
                <md-checkbox aria-label="Sandbox" ng-model="Ext.SandboxAllowedFileTypesOption"></md-checkbox>
            </td>
            <td ng-if="ctrl.isFileTypesAdvanceModeON">
                <md-checkbox aria-label="Regex Scanner" ng-model="Ext.RegularExpressionScannerAllowedFileTypesOption"></md-checkbox>
            </td>
            <td ng-if="ctrl.isFileTypesAdvanceModeON">
                <md-checkbox aria-label="Vendor Signature" ng-model="Ext.VendorSignatureValidationScannerFileTypesOption"></md-checkbox>
            </td>
        </tr>
        <tr ng-repeat-end></tr>
        <tr ng-repeat-end></tr>
    </tbody>
</table>

<!--ng-disabled="!ctrl.isFiletypeEditable" toggle-children-states
                    self-reference="$index" children-access-point="L0Value"-->