#PDOSFiles {
    background-color: white;
}

.PDOSFilesCheckbox {
    margin-bottom: 0px !important;
}

.PDOSFilesRow {
    border-bottom: solid 2px #f1f1f1;
}

.PDOSFilesRow> td {
    border-right: solid 2px #f1f1f1;
}

.PDOSFilesSelect {
    border: 0px;
    width: 100%;
    background-color: white;
}
.PDOSFilesRows{
    border-right: solid 2px #f1f1f1;
    border-bottom: solid 2px #f1f1f1;
}

.retrait{
    width:6%; background-color: #E0E9F7
}
.PDOSFilesRowsLast{
    border-bottom: solid 2px #f1f1f1;
 
}