#whoWrapper{
    padding-right:0px !important;
}

.selectedChip{
    background-color: #62D0C9;
    color: white;
    font-weight: 600;
}
.notEditable{
        pointer-events: none;

}
.strong600{
    font-weight: 600;
}
.inEdition{
    background-color: #d50000 !important;
}
#editWhoSection{
    margin-left: 0px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}