<link href="app/AccountManager/templates/S2/style.css" rel="stylesheet">
<div layout="column" layout-align="center center" layout-fill flex id="container">
    <h2>Pick a new password</h2>
    <div id="form" layout="column" layout-margin md-whiteframe="6">
        <div layout="row" layout-align="space-between center" class="password-container">
            <input ng-model="ctrl.Password1" type="text" flex ng-show="ctrl.showPassword1" placeholder="enter new password">
            <input ng-model="ctrl.Password1" type="password" flex ng-hide="ctrl.showPassword1" placeholder="enter new password">
            <md-button class="md-icon-button no-margin" ng-click="ctrl.showPassword1 =! ctrl.showPassword1" flex="10">
                <md-icon style="display:inline-block;">remove_red_eye</md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="space-between center" class="password-container">
            <input ng-model="ctrl.Password2" type="text" flex ng-show="ctrl.showPassword2" placeholder="confirm password">
            <input ng-model="ctrl.Password2" type="password" flex ng-hide="ctrl.showPassword2" placeholder="confirm password">
            <md-button class="md-icon-button no-margin" ng-click="ctrl.showPassword2 =! ctrl.showPassword2" flex="10">
                <md-icon style="display:inline-block;">remove_red_eye</md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="end end" >
            <md-button id="btn" ng-click="ctrl.ConfirmNewEmail()">CONFIRM</md-button>
        </div>
    </div>
</div>