<link href="app/AccountManager/templates/S2/style.css" rel="stylesheet">


<div layout="row" layout-align="center center">
    <div id="form" layout="column" layout-margin md-whiteframe="6">
        <md-input-container flex>
            <label>Enter New Password</label>
            <input ng-model="ctrl.Password1" type="password">
        </md-input-container>
        <md-input-container flex>
            <label>Enter New Password</label>
            <input ng-model="ctrl.Password2" type="password">
        </md-input-container>
        <md-button id="btn" ng-click="ctrl.ConfirmNewEmail()">SEND</md-button>
    </div>
</div>