<link href="app/AccountManager/templates/S2/style.css" rel="stylesheet">
<div layout="column" layout-align="center center" layout-fill flex id="container">
    <div id="form" layout="column" layout-margin md-whiteframe="6">
        <md-input-container class="input-field">
            <label>Enter New Password</label>
            <input ng-model="ctrl.Password1" type="password">
        </md-input-container>
        <md-input-container class="input-field">
            <label>Enter New Password</label>
            <input ng-model="ctrl.Password2" type="password">
        </md-input-container>
        <center>
            <md-button id="btn" ng-click="ctrl.ConfirmNewEmail()">CONFIRM</md-button>
        </center>
    </div>
</div>