<md-list class="whiteBk" id="whoGroup">
    <md-list-item layout="row" layout-align="start center">
        <md-icon class="purple noMarginLeft material-icons md-primary">label</md-icon>
        <h4 class="md-primary">Groups</h4>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item flex="100">
        <md-input-container md-no-float flex layout="row" id="whoSearchBox" flex class="noVerticalMargin">
            <input ng-model="searchQuery" placeholder="Search">
            <md-icon class="material-icons greenIcon noMarginLeft">search</md-icon>
        </md-input-container>
    </md-list-item>
    <md-divider></md-divider>
    <div ng-repeat = "i in  groupList | filter:searchQuery" ng-click=" showList =!  showList"> 
        <md-list-item layout="row">
            <md-icon class="material-icons noMarginLeft greenIcon">arrow_drop_down</md-icon>
            {{ groupList[$index]}}      
        </md-list-item>
        <md-list ng-show="showList" layout-align="end center">
            <md-list-item ng-repeat="x in items">{{x}}</md-list-item>
        </md-list>
        <md-divider></md-divider>
    </div>
</md-list>

        