<md-list flex class='md-raised dashboardTablePurpleTop'>
        <md-list-item layout-padding class="md-3-line">
            <md-icon class="material-icons md-avatar"><i class="material-icons purple">insert_drive_file</i></md-icon>
          <div class="md-list-item-text" layout="column">
            <h5 class='purple'>1,312,456</h5>
            <p class='purple' translate='FilesWaiting'></p>
            <p class='purple'>00:10:20</p>
            <small class='grey' translate='currentWaitingFile'></small>
          </div>
        </md-list-item>
        <md-divider></md-divider>
         <md-list-item layout-padding class="md-3-line">
            <md-icon class="material-icons md-avatar"><i class="material-icons blue">insert_drive_file</i></md-icon>
          <div class="md-list-item-text" layout="column">
            <h5 class='blue'>1,312,456</h5>
            <p class='blue' translate='FilesWaiting'></p>
            <p class='blue'>00:10:20</p>
            <small class='grey' translate='currentWaitingFile'></small>
          </div>
        </md-list-item>
        <md-divider></md-divider>
         <md-list-item layout-padding class="md-3-line">
            <md-icon class="material-icons md-avatar"><i class="material-icons yellow">insert_drive_file</i></md-icon>
          <div class="md-list-item-text" layout="column">
            <h5 class='yellow'>1,312,456</h5>
            <p class='yellow' translate='FilesWaiting'></p>
            <p class='yellow'>00:10:20</p>
            <small class='grey' translate='currentWaitingFile'></small>
          </div>
        </md-list-item>
       
</md-list>




