#ncChannelTypeCaption {
    color: #0C0B47;
}

#ncTypeUp {
    border-bottom: solid 2px #DFE8F8;
}

#ncTypeIcon {
    margin-left: 0px !important;
    margin-right: 0.5em !important;
    width: 36px !important;
    height: 36px !important;
}
#ncTypePicker{
    background-color: white;
}
.ncTypesIcons{
    height: 4em;
    width: 4em;
}
.ncTypeTitle{
    font-size: 1em;
    margin-top: 1em;
}
.ncTypesHover{
    color: white;
    background-color: #6B69EA;
    border-radius: 10px;
}
.ncTypesHoverTitle{
    color: white;
}

.hoveredIcon{
    fill: white;
}

#useAsRelay{
   border-top: solid 2px #DFE8F8; 
}    
