<json-formatter json="ctrl.cdr"></json-formatter>
<input ng-model="L1Key.Name" />
<div ng-repeat="(L1Key, L1Value) in ctrl.cdr | filterObject:L1Value.Name" class="cards" md-whiteframe="6">
    <div layout="row" layout-align="space-between center" class="card-title" ng-init="L1Value.showValues = false">
        <h4 layout-padding> {{L1Key}}</h4>
        <md-button class="md-icon-button" toggle-cdr-edition binded-value="L1Value.showValues">
            <md-icon class="white">edit</md-icon>
        </md-button>
    </div>
    <div layout="row" layout-margin>
        <div flex="20">
            <h5>Current Actions : </h5>
        </div>
        <div flex layout-wrap layout-margin ng-init="L1Value.DefaultValue = {}">
            <span class="action-chips" ng-repeat="(actionKey, actionValue) in L1Value.DefaultValue"> {{actionValue.ActionName}}
            <md-icon ng-show="L1Value.showValues" class="white" ng-click="ctrl.deleteObject(actionValue, L1Value.DefaultValue)">remove</md-icon>
        </span>
        </div>
    </div>
    <div ng-repeat="(L2Key, L2Value) in L1Value.Properties">
        <div ng-repeat="(L3Key, L3Value) in L2Value.AvailableValues" layout="column" layout-padding>
            <div class="action-pannel" layout="colum" layout-align="start center">
                <h5 class="action-category">{{L3Key}}</h5>
            </div>
            <div class="actions animated fadeInDown" layout="row" layout-margin layout-wrap ng-show="L1Value.showValues">
                <span class="action-chips" ng-repeat="action in L3Value">
                    {{action.ActionName}}
                    <md-icon class="white" ng-click="L1Value.DefaultValue[L3Key] = action" ng-if="L1Value.DefaultValue[L3Key] != action">add</md-icon>
                </span>
            </div>
        </div>
    </div>
</div>



<style>
    .action-chips {
        background-color: #2196F3;
        border-radius: 50px;
        font-weight: 600;
        font-size: 1.13em;
        border: solid 1px white;
        color: white;
        padding: 0.5em 1em;
    }
    
    .default-values {
        width: 100%;
    }
    
    .cards {
        background-color: white;
        border-radius: 4px;
        margin-bottom: 2em;
    }
    
    .white {
        color: white !important;
    }
    
    .card-title {
        background-color: #2196F3;
        color: white;
    }
    
    .action-pannel {
        border-bottom: solid 1.5px #EEEEEE;
    }
    
    .action-category {
        color: #0D47A1;
        font-weight: 600;
    }
    
    .actions {
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
        border-bottom: solid 1.5px #EEEEEE;
    }
</style>