<md-dialog style="width: 50%">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>SET UP SMB</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item>
                Name
                <input ng-model="Output.Name" type="text" />
            </md-list-item>
            <md-list-item>
                Rejected Folder
                <input ng-model="Output.RejectedFolder" type="text" />
            </md-list-item>
            <md-list-item>
                Temp Folder
                <input ng-model="Output.TempFolder" type="text" />
            </md-list-item>
            <md-list-item>
                Include Folder Mask
                <input ng-model="Output.IncludeFolderMask" type="text" />
            </md-list-item>
            <md-list-item>
                Enable Periodic File Check
                <md-switch aria-label="enable Periodic" ng-model="Output.EnablePeriodicFileCheck"></md-switch>
            </md-list-item>
            <md-list-item>
                Os Hook Interval
                <input ng-model="Output.OsHookInterval" type="number" />
            </md-list-item>
            <md-list-item>
                Process Pre-existing Files
                <md-switch aria-label="enable Periodic" ng-model="Output.ProcessPreexistingFiles"></md-switch>
            </md-list-item>
        </md-list>
        <div layout="row" layout-align="space-between center" style="margin-top: 3em">
            <md-button ng-click="cancel()" class="save-smb-button" flex>CANCEL</md-button>
            <md-button ng-click="answer(Output)" class="save-smb-button" flex="50">SAVE SMB</md-button>
        </div>
    </form>
</md-dialog>