<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/who/templates/channelTopBar/style.css">
<div id="channel-container" md-whiteframe="4">
    <div layout="column" layout-padding>
        <h3 class="policy-header">Pick one policy to associate to this channel</h3>
        <h4>Current Policy associated : <span class="current-policy"> {{ctrl.current_policy | uppercase}}</span></h4>
        <div layout-wrap layout="row" layout-margin layout-wrap>
            <div layout="row" layout-align="space-between center" class="animated fadeInDown policy-chip-container" ng-repeat="policy in ctrl.policyList"
                ng-show="ctrl.is_who_screen_editable" layout-margin>
                <p class="policy-chip">{{policy.Name | uppercase}}</p>
                <md-icon class="add-icon" add-policy-to-channel policy-name="{{policy.Name}}">add</md-icon>
            </div>
        </div>
    </div>
</div>