#channel-container {
    background-color: white;
    border-radius: 3px;
}

.policy-chip {
    color: white;
    font-weight: 600;
    text-align: center;
}

.policy-header {
    color: #0D47A1;
}

.add-icon {
    color: white !important;
}

.add-icon:hover {
    color: #FFFF00 !important;
}

.policy-chip-container {
    background-color: #2196F3;
    border-radius: 50px;
}


.remove-policy{
    color: white !important;
}
.remove-policy:hover {
    color: #FFFF00 !important;
}

.current-policy {
    color: #2196F3;
    font-weight: 700
}