<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/who/templates/userList/style.css" />

<div id="all_users"  md-whiteframe="6">
    <!-- search bar -->
    <div layout="row" layout-align="space-between center" layout-padding md-whiteframe="4" class="search-container">
        <md-icon class="search-users-icon md-36" flex="15">account_circle</md-icon>
        <input class="users_search_box" ng-model="currentUser" flex="85" placeholder="Users currently using this Channel" />
     
    </div>
    <md-virtual-repeat-container class="virtual-repeat-full-height">
        <div md-virtual-repeat="currentUser in ctrl.current_users | filter: currentUser | orderBy: currentUser" class="virtual-repeat-div" layout-padding
            layout-align="space-between center" layout="row">
            <md-content class="user_name">{{currentUser}}</md-content>
            <md-button ng-if="ctrl.is_who_screen_editable" class="md-icon-button animated fadeIn"
             delete-user-from-channel user-name="{{currentUser}}">
                <md-icon class="delete_users">remove</md-icon>
            </md-button>
        </div>
    </md-virtual-repeat-container>
</div>