#ncComputerContainer {
    background-color: white;
    width: 49%;
}

.searchInput {
    width: 100%;
    border: solid 2px #23CCC7;
    border-radius: 20px;
}

.ncComputerItem {
    padding-left: 1.5em;
}

.material-icons-no-margin {
    margin-left: 0px;
    margin-right: 0.5em;
}

.selectedComputer {
    background-color: #23CCC7;
    color: white;
    font-weight: 600;
}

.selectedComputer>.ncComputerItem> md-icon {
    color: white;
}
.md-green {
    background-color: #23CCC7 !important;
    color: white !important;
}
.md-green:hover{
    background-color: #F50057 !important;
}