<!--<div class="legend-container" md-whiteframe="8" layout-wrap>
    <span class="important-figure top-figure">789</span> Files were processed by the system
    <div>
        <br>
         The
        <md-button class="special-button" md-whiteframe="5">Top File Type</md-button> was <span class="important-figure">EXE</span>
        <br> The
        <md-button class="special-button" md-whiteframe="5">Most Active User</md-button>
        was <span class="important-figure">David</span>
    </div>
</div>-->

<md-list md-whiteframe="7" class="legendFrame-container">
    <md-list-item layout-gt-lg="row" layout="column" layout-align="space-between center">
        <md-content class="title-important">Total Processed Files</md-content>
        <md-content layout-padding class="total-important">789</md-content>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout-gt-lg="row" layout="column" layout-align="space-between center">
        <md-content class="title-important">Total File Type</md-content>
        <md-content layout-padding class="total-important">DOCX</md-content>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout-gt-lg="row" layout="column" layout-align="space-between center">
        <md-content class="title-important">Most Active User</md-content>
        <md-content layout-padding class="total-important">D. Smith</md-content>
    </md-list-item>
    <style>
        .total-important {
            font-size: 3em;
            color: #333 !important;
        }
        
        .legendFrame-container {
            background-color: white;
            border-radius: 5px;
        }
        
        .title-important {
            color: #E53935 !important;
            font-size: 1.5em;
        }
        /*.legend-container {
        padding: 1em;
        background-color: #3F51B5 !important;
        color: white;
        text-align: left;
        font-size: 2em;
        font-weight: 800;
        border-radius: 4px;
    }
    .special-button {
        background-color: #2196F3 !important;
        border-color: transparent;
    }*/
    </style>