#endpointDashboardCasesFilter{
    background-color: white;
    margin-top: 2em;
    margin-left: 1em;
    padding-bottom: 0px;
}
.resizedCharts{
    width: 5em; 
    height: 3em;
}
.yellow{
    color: #D5A02B;
}
.redAlert{
    color: #E43754;
}
.indigo{
    color: #2A82DD;
}
.reducedBorderRight{
    border-right: solid 1px #E0E0E0;
    width: 50%;
}
.iconsAligned{
    margin-left: 0px;
    margin-right: 0.5em;
}
.primaryBlue{
    color: #253090;
}
#dataSwitcher{
    background-color: white;
    border-radius: 100px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: solid 1px #E0E0E0;
}
#th{
    margin-top: 1em;
    margin-bottom: 1em;
}