<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/settings/style.css" />
<div ng-http-loader methods="['POST']" template="app/common/templates/loader.html" ttl="1"></div>
<json-formatter json="ctrl.ChannelFacets"></json-formatter>

<json-formatter json="ctrl.whoData"></json-formatter>


<md-list md-whiteframe="4">
    <md-toolbar>Agent Settings</md-toolbar>
    <md-list-item ng-repeat="(L0Key, L0Value) in ctrl.whoData['Agent Settings'].Properties" ng-switch="L0Value.Type">
        {{L0Value.DisplayName}}

        <div ng-switch-when="FacetPropertyType_String" type="text">
            <input ng-model="ctrl.ChannelFacets[L0Key].Values[L0Value]"/>
        </div>
        <div ng-switch-when="FacetPropertyType_Bool">
            <md-switch aria-label="bool" ng-model="ctrl.ChannelFacets[L0Key].Values[L0Value]"></md-switch>
        </div>
        <div ng-switch-when="FacetPropertyType_Int">
            <input ng-model="ctrl.ChannelFacets[L0Key].Values[L0Value]" type="number"/>
        </div>
        <div ng-switch-when="FacetPropertyType_SingleChoice">
           <select ng-options="item as item for item in L0Value.AvailableValues" ng-model="ctrl.ChannelFacets[L0Key].Values[L0Value]"></select>
        </div>
    </md-list-item>

</md-list>