<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/settings/style.css" />

<div class="channel-settings-wrapper">
    <div layout="row" layout-align="end center" class="channel-settings-edit-div">
        <md-button md-whiteframe="6" class="channel-edit-button" edit-channel-settings>EDIT</md-button>
    </div>
    <table class="table table-responsive notEditable channel-settings-table" md-whiteframe="6">
        <thead class="thead-channel-settings">
            <th>NAME</th>
            <th>VALUE</th>
        </thead>
        <tbody class="channel-settings-body">
            <tr>
                <td>Seconds to keep alive</td>
                <td>
                    <input placeholder="60" type = "number" class="channel-settings-input" ng-model="ctrl.channelSettings.secondsToKeepAlive"/>
                </td>
            </tr>
            <tr>
                <td>Syslog Server</td>
                <td>
                    <input placeholder="127.0.0.0" class="channel-settings-input" ng-model="ctrl.channelSettings.syslogServer"/>
                </td>
            </tr>
            <tr>
                <td>Results Format</td>
                <td>
                    <select class="channel-settings-select" ng-model="ctrl.channelSettings.resultFormat">
                        <option>JSON</option>
                        <option>TXT</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Reduce DB operations</td>
                <td>
                    <md-checkbox aria-label="reduce db operations" ng-model="ctrl.channelSettings.reduceDBOperations"></md-checkbox>
                </td>
            </tr>
            <tr ng-if="ctrl.is_kiosk_selected">
                <td>Authenticate User on Endpoint</td>
                <td>
                    <md-checkbox aria-label="authenticate" ng-model="ctrl.channelSettings.authenticateUserOnEndpoint"></md-checkbox>
                </td>
            </tr>
            <tr ng-if="ctrl.kiosk_dirtwatcher_agent">
                <td>Use temp folder</td>
                <td>
                    <md-checkbox aria-label="use temp folders" ng-model="ctrl.channelSettings.useTempFolder"></md-checkbox>
                </td>
            </tr>
            <tr>
                <td>Seconds until disconnect</td>
                <td>
                    <input placeholder="60" type="number" class="channel-settings-input" ng-model="ctrl.channelSettings.secondsUntilDisconnect"/>

                </td>
            </tr>
            <tr>
                <td>Auto Reconnect</td>
                <td>
                    <md-checkbox aria-label="auto reconnect" ng-model="ctrl.channelSettings.autoReconnect"></md-checkbox>
                </td>
            </tr>
            <tr>
                <td>Perform Interactive Update</td>
                <td>
                    <select class="channel-settings-select" ng-model="ctrl.channelSettings.performInteractiveUpdate">
                        <option>PASSIVE</option>
                        <option>SILENT</option>
                        <option>INTERACTIVE</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Store Blocked File Report</td>
                <td>
                    <md-checkbox ng-model="ctrl.channelSettings.storeBlockedFiles"></md-checkbox>
                </td>
            </tr>
            <tr>
                <td>Create Empty Folders</td>
                <td>
                    <md-checkbox ng-model="ctrl.channelSettings.createEmptyFolders"></md-checkbox>
                </td>
            </tr>
            <tr ng-if="ctrl.is_kiosk_selected">
                <td>Action Log Path</td>
                <td>
                    <input placeholder="Log Path" type="text" class="channel-settings-input" ng-model="ctrl.channelSettings.actionLogPath"/>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<pre style="height: 200px" flex>JSON SENT TO SERVER <json-formatter json="ctrl.channelSettings" open="1"></json-formatter>
</pre>