<link rel="stylesheet" href="app/channelManagement/templates/newChannel/templates/step2/separated/inputs/style.css" />

<div layout-margin layout="row" layout-align="space-between start">
    <div layout="column" id="ilWrapper">
        <nc-separated-input-list id="il"></nc-separated-input-list>
        <div class="iSMBHolder">
            <div ng-repeat="n in ctrl.iSMBList" class="animated fadeInUp">
                <i-smb></i-smb>
            </div>
        </div>
    </div>
    <div layout="column" id="olWrapper">
        <nc-separated-output-list id="ol"></nc-separated-output-list>
        <div class="oSMBHolder animated fadeInUp" ng-repeat="n in ctrl.oSMBList">
            <o-smb></o-smb>
        </div>
    </div>
</div>

<div layout="row" layout-align="space-between center" id="ncActionWrapper">
    <md-button class="md-primary md-raised" ui-sref="app.channelManagement.newChannel.step1"><strong>BACK</strong></md-button>
    <md-button class="md-primary md-raised" data-ui-sref="app.channelManagement.newChannel.SSettings" nc-pass-data-to-settings><strong>NEXT</strong></md-button>
</div>

