<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/dashboard/templates/dataSwitcher/style.css">
<!--<div layout="row" layout-margin layout-align="end end">
    <div layout="row" layout-align="space-between center" id="time-container">
        <md-icon id="timeline-icon">timeline</md-icon>
        <md-input-container class="noMarginInput">
            <md-select ng-model="ctrl.DashboardTimeFrame">
                <md-option selected><small>Last Hour</small></md-option>
                <md-option><small>24 Hours</small></md-option>
                <md-option><small>1 Week</small></md-option>
                <md-option><small>1 Month</small></md-option>
            </md-select>
        </md-input-container>
    </div>
</div>-->

<div rg-range-picker="myDatetimeRange" labels="myDatetimeLabels"></div>
