<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/dashboard/templates/dataSwitcher/style.css" />
<div id="CMDataSwitcher" layout="row" layout-padding layout-align="space-around center" class="md-whiteframe-5dp">
    <h4 flex="40"></h4>
    <div layout="row" layout-align="start center" flex layout-margin>
        <div layout="row" class="c1" blocked-processed-toggler layout-margin>
            <div class="blocked active">
                Blocked Files
            </div>
            <div class="processed">
                Processed Files
            </div>
        </div>
    </div>
</div>

