<link rel="stylesheet" href="app/reports/scanners/style.css">
<div flex md-whiteframe="7" class="sanitization-table-holder" style="margin-top: 2em">
    <md-toolbar class="md-table-toolbar md-default" id="unified-title">
        <div class="md-toolbar-tools">
            <span>Top Users</span>
        </div>
    </md-toolbar>
    <md-table-container style="margin-top: 0px" class="sanitization-table-container" ng-init="ctrl.GetTopUsers()">
        <table md-table class="sanitization-table" ng-model="selected" md-progress=" ctrl.UserPromise">
            <thead md-head class="santization-head" md-order="ctrl.UsersQuery.order">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column md-numeric md-order-by="blocked"><span>Blocked</span></th>
                    <th md-column md-numeric md-order-by="modified"><span>Modified</span></th>
                    <th md-column md-numeric md-order-by="passed"><span>Passed</span></th>
                    <th md-column md-numeric md-order-by="total"><span>Total</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr  ng-if="ctrl.TopUsers.length > 0" md-row ng-repeat="x in ctrl.TopUsers | orderBy:  ctrl.UsersQuery.order" md-auto-select="options.autoSelect">
                    <td md-cell>{{x.Name| uppercase}}</td>
                    <td md-cell>{{x.BlockededNumber}}</td>
                    <td md-cell>{{x.ProcessedNumber}}</td>
                    <td md-cell>{{x.PassedNumber}}</td>
                    <td md-cell>{{x.TotalNumber}}</td>
                </tr>
                <tr md-row ng-if="ctrl.TopUsers.length < 1">
                    <td md-cell colspan="5" class="no-data">
                        <md-icon style="margin-right: 0.3em">pan_tool</md-icon>
                        No Data To Show For This Time Frame
                        </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>

