<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/dashboard/templates/topFiles/style.css" />
<md-toolbar layout="row" class="light-blue" md-whiteframe="6">
    <div layout-margin>
        <md-icon md-svg-src="icons/top-user.svg" class="top-file-icon md-72"></md-icon>
        <span style="color: #333">Top Users</span>
    </div>
</md-toolbar>
<md-list flex class="top-file-type-list" md-whiteframe="4">
    <md-list-item class="md-2-line file-type-row" ng-repeat="user in ctrl.dashboardData.TopUsersList" ng-if="ctrl.dashboardData.TopUsersList.length > 0">
        <div layout="row" layout-align="space-between center" flex>
            <p class="user-name" layout-align="start center" flex="50">{{user.Name}}</p>
            <p layout-align="end end" class="user-team" layout-padding>{{user.Team}}</p>
        </div>
    </md-list-item>
    <md-list-item ng-if="ctrl.dashboardData.TopUsersList.length < 1" layout="column" layout-align="center center" layout-margin>
        <md-icon class="material-icons md-48">sentiment_very_dissatisfied</md-icon>
        <h3>No data available for this time frame</h3>
    </md-list-item>
</md-list>