
<div layout="row" layout-margin>
    <nc-channel-name flex="35"></nc-channel-name>
    <nc-description flex></nc-description>
</div>
<div layout-margin>
<nc-channel-type></nc-channel-type>
    <md-button id="ncNextPage" class="md-primary md-raised" ng-disabled="!ctrl.ChannelCreationHasRequiredFields" save-info-get-id md-whiteframe="4"><strong>NEXT</strong></md-button>
</div>


<json-formatter json="ctrl.channel"></json-formatter>
<style>
    #ncNextPage{
        float: right;
        font-weight: 600;
    }
       #ncNextPage:not([disabled]):hover{
        background-color: #F50057;
    }
    .disabled{
        pointer-events: none !important;
    }
</style>