<link rel="stylesheet" href="app/channelManagement/templates/endpoint/innerView/who/templates/computers/style.css" />
<div id="all_computer"   md-whiteframe="6">
    <!-- search bar -->
    <div layout="row" layout-align="space-between center" layout-padding md-whiteframe="4" class="search-container">
        <md-icon class="search-computers-icon md-36" flex="15">computer</md-icon>
        <input class="computer_search_box" ng-model="all_computer" flex="85" placeholder="All computers available on the domain" />
        
    </div>
    <md-virtual-repeat-container class="virtual-repeat-full-height">
        <div md-virtual-repeat="all_computer in ctrl.all_computers | filter: all_computer | orderBy: all_computer" class="virtual-repeat-div"
            layout-padding layout-align="space-between center" layout="row">
            <md-content class="computer_name">{{all_computer}}</md-content>
            <md-button ng-if="ctrl.is_who_screen_editable" ng-hide="ctrl.isComputerInUse(all_computer)" 
            class="md-icon-button animated fadeIn" assign-computer-to-channel computer-name="{{all_computer}}">
                <md-icon class="add_computer">add</md-icon>
            </md-button>
        </div>
    </md-virtual-repeat-container>
</div>