<link rel="stylesheet" href="app/policy/templates/policyDefinition/templates/fileType/collapseTable/style.css" />
<div style="margin-top: 1.5em">

    <div layout="row" layout-align="space-between center" id="actionButtonsWrapper">
        <md-button edit-mode class="md-raised bold" id="editButtonPolicy">Edit</md-button>
        <md-button show-advanced-mode class="md-raised bold" id="showAdvanceButton">SHOW ADVANCED MODE</md-button>

    </div>
    <table id="ctCollapseTable" class="table table-responsive notEditable animated fadeIn" not-editable-warning md-whiteframe="6">
        <thead>
            <th id="ct1stRow"></th>
            <th id="ctAllow">Allow</th>
            <th class="advanced hidden" ng-repeat="h in ctrl.headers">{{h.name}}
                <ct-description></ct-description>
            </th>
        </thead>
        <tr toggle-os>
            <td colspan="7" class="toggleOs">
                <md-icon>keyboard_arrow_right</md-icon>
                Executables
            </td>
        </tr>
        <tbody class="policyRowsDef animated fadeIn" ng-repeat="i in ctrl.dataSet" id="execBody">
            <tr class="osParent hidden animated fadeIn" show-children>
                <td>
                    <md-icon class="material-icons">keyboard_arrow_right</md-icon>{{i.name}}</td>
                <td colspan="6"></td>
            </tr>
            <tr class="hidden child" ng-repeat="x in i.exec" class="ncTypeRows">
                <td class="ctEXName">{{x}}</td>
                <td>
                    <md-checkbox ng-model="ctrl.obj[i.name][x]['allow']" aria-label="ctrl.obj[i.name]['allow']"></md-checkbox>
                </td>
                <td class="advanced hidden">
                    <md-checkbox ng-model="ctrl.obj[i.name][x]['processEmbbededFiles']" aria-label="ctrl.obj[i.name]['process']"></md-checkbox>
                </td>
                <td class="advanced hidden">
                    <input disabled placeholder="size limit" ng-model="ctrl.obj[i.name][x]['sizeLimit']" type="number" class="ctInput" />
                    <md-button edit-field>
                        <md-icon class="material-icons">edit</md-icon>
                    </md-button>
                </td>
                <td class="advanced hidden">
                    <md-checkbox ng-model="ctrl.obj[i.name][x]['sandbox']" aria-label="ctrl.obj[i.name]['sizeLimit']"></md-checkbox>
                </td>
                <td class="advanced hidden">
                    <md-button show-exception-row class="showExceptionRowButton">
                        <md-icon class="material-icons">add</md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <md-checkbox activeMe aria-label="os" ng-model="ctrl.obj[i.name]['allowExec']"></md-checkbox>-->
