<link rel="stylesheet" href="app/policy/templates/policyDefinition/templates/fileType/collapseTable/style.css" />

<div layout="row" layout-align="space-between center" flex="100" id="action-container">

    <md-button edit-filetype class="md-primary md-raised" id="edit-filetype-button">
        <!--<md-icon id="lock-icon">lock_outline</md-icon>-->
        EDIT
    </md-button>
    <md-button show-advanced-filetype class="md-primary md-raised hidden animated fadeIn" id="show-advanced-filetype-button">
        SHOW ADVANCED MODE
    </md-button>
</div>
<pre>::DEBUGGING PANNEL:: {{ctrl.types}}</pre>

<table class="table table-responsive notEditable table-striped" id="filetype-table" prevent-click md-whiteframe="6" ng-cloak>
    <thead>
        <th></th>
        <th>Allow</th>
        <th class="advanced hidden">Process Embeded Files</th>
        <th class="advanced hidden">Size limit</th>
        <th class="advanced hidden">Sandbox</th>
    </thead>


    <tbody>

        <tr ng-repeat-start="l1 in ctrl.filetype track by l1.Key">
            <td layout="row" layout-align="start center">
                <md-button class="md-icon-button show-extensions-button" aria-label="show L2" show-extensions index="{{l1.Key}}">
                    <md-icon>keyboard_arrow_right</md-icon>
                </md-button>
                {{l1.Key}}
            </td>
            <td>
                <md-checkbox ng-model="ctrl.types[l1.Key]['GlobalAllowed']" aria-label="update all"></md-checkbox>
            </td>
            <td colspan="3" class="advanced hidden"></td>
        </tr>

        <tr ng-repeat-start="l2 in l1.Values | filter:extensions" ng-if="ctrl.areExtensionsVisible[l1.Key]" class="L2Section">
            <td>
                <md-icon>empty_icon</md-icon>
                {{l2.ClassificationExtensions}}
            </td>
            <td>
                <md-checkbox ng-model="ctrl.types[l2.ClassificationUniqueStr]['IsAllowed']" class="check_me" aria-label="children in use"></md-checkbox>
            </td>
            <td class="advanced hidden">
                <md-checkbox aria-label="allow extension" ng-model="ctrl.types[l2.ClassificationUniqueStr]['ProcessEmbededFiles']"></md-checkbox>

            </td>
            <td layout="row" class="advanced hidden">
                <input type="number" ng-model="ctrl.types[l2.ClassificationUniqueStr]['SizeLimit'].Size" />
                <select ng-model="ctrl.types[l2.ClassificationUniqueStr]['SizeLimit'].Unit" class="size-unit-selector">
                    <option value="" disabled selected>Pick a Unit</option>
                    <option>KB</option>
                    <option>MB</option>
                </select>
            </td>
            <td class="advanced hidden">
                <md-checkbox aria-label="allow extension" ng-model="ctrl.types[l2.ClassificationUniqueStr]['UseSandbox']"></md-checkbox>
            </td>
        </tr>
        <tr ng-repeat-end></tr>
        <tr ng-repeat-end></tr>

    </tbody>

</table>
